[2014-12-02 16:28] clonedagain opened #9 "Machine history as a chatter"
As a complement to requirements 50-65 in https://docs.google.com/spreadsheets/d/1wfmiT5nAW7d9I4CAyNQ2IKdOLzpN1a0rnR6Q539lf6M/edit#gid=0, it would probably be useful to keep track of those changes in a chatter, so that interested users get be informed when a machine is out of order, moved, reconfigured...

[2014-12-02 16:31] clonedagain commented on #9
@pedrobaeza @anajuaristi is this on your roadmap by any chance?

[2014-12-02 20:41] anajuaristi commented on #9
Sorry, but machine status workflow it's not on our roadmap since our customers did not ask for it, neither the chatter on machines.
Thank you:
Ana

[2015-04-21 21:41] max3903 opened #24 "Roadmap of the Master Production Schedule"
The goal of this issue is to provide a roadmap for the Master Production Schedule module of Odoo.
# Version 0.1 (15k)
- [ ] Modeling of the MPS using sale and stock procurements (MPS input) and the Odoo scheduler to generate virtual manufacturing orders and purchase orders.
- [ ] Workflow: Draft, Planned, Confirmed, Done.
  - Planned: the scheduler has been run and the table is filled in
  - Confi

[2015-10-14 00:31] pedrobaeza opened #41 "Migration to version 9.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0
# Modules to migrate
- [ ] mrp_production_properties
- [x] mrp_bom_note - https://github.com/OCA/manufacture/pull/73
- [ ] mrp_calendar_view - By @nicomacr - #168
- [x] mrp_production_note
- [ ] mrp_bom_product_details
- [ ] mrp_bom_reference_selection
- [ ] mrp_industrial_design_bom
- [ ] mrp_produce_uos
- [ ] mrp_bom_v

[2015-11-18 13:02] JMODaERP opened #51 "Calculating the date of production planning"
Take the  programming date of production order of the requested date of de sale order (requested_date of the object  sale.order ), less the total days of costumer delivery (page  of product sales: sale_delay of the object  product.product).

date_planned (mrp.production) = requested_date (sale.order) - sale_delay (product.product).

Calculate the Customer Lead Time of the page sales of the product

[2015-11-18 13:23] JMODaERP opened #52 "Calculation of real production hours depending on the start / stop work order."
Once you create a work order, either by pushing  the Calculate data button a or confirm the order of production, work many orders are created as operations have been included in the route of production are created.

The production manager or operator blamed mark the beginning and work stoppages of the workecnter, using the buttons; Initiated, Completed, Pending the mrp.production.workcenter.line o

[2015-11-18 13:28] JMODaERP opened #53 "Calculating the cost price (standard-price) when the method is Average Price"
When the warehouse is valued by method of the Average Weighted Price (cost_method del objeto product.product) , this algorithm should be applied:

Average Price (Pm) = (Si \* Pma) + (E \* PC) / (Sf + E).

Where:
Si = initial Stock (Before the movement of Entry).
Pma = average Price before the entry.
Sf = End Stock (After movement of Entry).
E: units of Entry (purchase or manufacture).
PC = Cost pr

[2015-11-18 14:08] JMODaERP opened #54 "Calculating actual costs"
The strategy of 85% of the Spanish production companies is the cost strategy. That is why those companies that manufacture what they sell and have always deliver maximum value to its investors, providing more value to customers than its competitors, put great emphasis on the analysis of production costs.

I think, Odoo should give greater value to the MRP tool incorporating the following analysis:

[2015-11-18 14:29] JMODaERP opened #55 "Standard Price"
When the  cost method is average price: the  standard  cost (manual)  should be update manually up, by  the user as a target cost or the cost trends over a significant period.

[2015-11-21 16:28] rafaelbn commented on #55
@jbeficent @pedrobaeza @anajuaristi what do you think?

[2015-11-22 10:51] elicoidal commented on #55
Hi,
Thanks for your inquiry.
Average cost calculation is not manually performed in Odoo. It is updated when the incoming shipment is validated, based on the PO price (without VAT).
The value of the goods from the incoming shipment are added to the current stock value and the average is calculated accordingly (total stock value / number in the UoM). Delivery orders will use the average price at the

[2015-11-22 21:04] JordiBForgeFlow commented on #55
@JMODaERP Can you elaborate your statement? There must be some reason for you to raise the issue. It's not clear to me at all.

[2015-11-23 14:04] JMODaERP commented on #55
I think that I did not rather well my inquiry, or at less the query should be oriented to other forum.
But ,  in any way,    i go to express my idea:

The problem arises, because i need two price, one: the average price for the product for evaluated my warehouse and for calculate the inventory turnover and other price The best way, (you know; As is - To be)  :

a) Calculating the cost price when t

[2015-11-23 21:30] anajuaristi commented on #55
Yes. In OdooMRP we have got the module mrp_stimated_cost that is adding that "manual_standar_cost" field on product.product form.

This value will be only updated 2 ways
1. User changes it
2. Someone is simulating MO cost using ficticious MO and wants to update the cost of the semi-finished or finished product. Ficticious MOs will ONLY update that field to not modify average values calculated by s

[2015-12-02 10:57] JMODaERP commented on #55
cc @rafaelbn

[2015-12-02 10:57] JMODaERP commented on #54
cc @rafaelbn

[2015-12-02 10:57] JMODaERP commented on #53
cc @rafaelbn

[2015-12-02 10:57] JMODaERP commented on #52
cc @rafaelbn

[2015-12-02 10:57] JMODaERP commented on #51
cc @rafaelbn

[2015-12-09 10:45] anajuaristi opened #62 "mocalculate data on MO does not bring the product_UOM"
Create a bill of materials with a product in KG
Go to manufacturing order
Calculate data
The assigned product UOM in "planned materials" is Unit, so it's wrong and it's causing this error:

Field(s) product_uom failed against a constraint: You try to move a product using a UoM that is not compatible with the UoM of the product moved. Please use an UoM in the same UoM category.

This issue was repo

[2015-12-09 10:50] pedrobaeza commented on #62
And it's not related, @anajuaristi, as just checked by @oihane. Please don't add noise and wait if you have already allocated a person for checking, then wait for her results and report it with more data.

[2015-12-09 10:55] oihane commented on #62
Tested in runbot __base_ database:
1. Install **mrp**: OK
2. Install **mrp_operations**: OK
3. Install **mrp_hook**: OK
4. Install **mrp_operations_extension**: OK

In each step I created a BoM and I added "Ice Cream" as component (it has 'kg' as UoM) and it worked OK
After I created a MO with the product of the BoM I've just created and pushed the button "Calculate Data" it also worked OK

So I t

[2015-12-09 12:48] anajuaristi commented on #62
Ok. It could be it's not related exactly to that module but somehow, somewhere is happening. It's because of that i opened the issue. Just to not forget and try to solve it.

[2015-12-09 12:50] pedrobaeza commented on #62
This is where it happens: https://github.com/OCA/manufacture/blob/8.0/mrp_bom_reference_selection/models/mrp_bom_line.py#L38

[2015-12-15 15:32] ejans opened #67 "quality_control_mrp api.model"
function `action_produce` in `mrp_production.py` has **api.model** and uses _self_ as instance (for move in self.move_created_ids2) this loop never executes.

[2015-12-15 18:37] pedrobaeza commented on #67
Thanks for reporting. Indeed there's an error due to a change in the approach. It has been fixed in https://github.com/OCA/manufacture/commit/09efe68d9cb7860286a8ab6157532ca3c838520d

[2015-12-15 18:37] #67 closed, assigned to nobody

[2016-01-24 13:14] JMODaERP opened #81 "8.0 [BUG] MRP Total Real Cost"
The costs charged (direct) in an order of production standard, whatever the industry sector, are calculated based on the cost of raw materials and auxiliary materials, plus the cost of operators, plus the cost of machinery. Also many companies include preparing machines (CAM,CAD,setting dies, tooling etc ) and often include cleaning the room or production facility , like pre and post tasks.

Curre

[2016-01-24 13:17] pedrobaeza commented on #81
Please follow expected schema for reporting bugs:

module: mrp_production_real_cost
version: 8.0

**Steps to reproduce**
- ...

**Current behavior**

**Expected behavior**

[2016-01-24 15:09] JMODaERP commented on #81
O.K.

[2016-01-24 15:23] JMODaERP commented on #81
The actual total cost that determines the order is 1,7618.31 , which is none other than the difference between 2,264.38 and 496.07 . As I wanted to show .

[code]

![2016-01-24 13_05_49-2016-01-24 12_09_02-manufacturing orders - odoo-mo-total real cost-new](https://cloud.githubusercontent.com/assets/15608043/12537065/911cfca4-c2b6-11e5-9668-96957e652901.jpg)

Thanks Peter.

[2016-01-25 14:47] JMODaERP commented on #81
Thanks ddico, good job. O.K.

[2016-01-25 18:28] rafaelbn commented on #81
We can close this issue because https://github.com/OCA/manufacture/pull/85

[2016-01-26 20:19] #81 closed, assigned to nobody

[2016-02-03 09:42] JMODaERP opened #88 "[BUG v.8] Miscalculate the cost of raw materials"
Step 1 : Create a Bill of Materials.

Step 2 : We apply a route.

Step 3 : Define the relationship between the quantity to produce and the raw material.

![1 2016-02-03 10_06_42-odoo bill of material](https://cloud.githubusercontent.com/assets/15608043/12778244/0deae928-ca62-11e5-9a4c-8e1b96c594f2.jpg)

Step 4 : Make a production order.

Step 5 : We produce and finalize the order.

Step 6 : We loo

[2016-02-03 10:04] rafaelbn commented on #88
Hi  @ddico @pedrobaeza @anajuaristi, any idea about this bug?

[2016-02-03 10:06] pedrobaeza commented on #88
I don't get what is the problem... Can you explain it clearer?

[2016-02-03 10:32] JMODaERP commented on #88
Raw material consumed 0,21 see Consumed Products in the second visual.

Price 103,2.

The material real cost is 0,21 \* 103,20 = 21,22 more or less 21,67

[2016-02-03 11:06] JMODaERP commented on #88
Hi Peter, what do you not understand?.

The actual cost of the raw material consumed is calculated by multiplying 0.21 pieces for the price of the same provisions of 103.2 and that gives the € 21.22, approximately 21,67, that the estimated costs calculated as 103, 19 \* 0.21.

For that you can understand the process:

With a polystyrene block 2 meters x 1.20 meters x 30 cms high and with a manufac

[2016-02-03 13:39] #54 closed, assigned to nobody

[2016-02-03 13:40] #53 closed, assigned to nobody

[2016-02-03 13:46] #52 closed, assigned to nobody

[2016-02-03 13:50] #51 closed, assigned to nobody

[2016-02-05 09:29] JMODaERP commented on #88
It is very important to have resolved this issue.

There fabrications for which the raw material is storable and is packaged in large blocks or pieces that many finished products are obtained. That is why if I need a fifth of a block of raw material to produce a given quantity of finished products should not apply the cost of acomplete piece products.

An example of this occurs in the automotion s

[2016-02-09 14:26] JMODaERP opened #90 "[8.0] [BUG or IMPV] The value of the stock of a product does not match the multiplication of its cost price by the amount stored it"
Have a cost price of € 2.69101 in the cost price field (cost standar_price product.template object)of the product entity and a stock of 17,710 units in the amount by hand field (qty_available the product_template object.  I access a Warehouse: stock movements and inventory data matches that of the product, but in value of stocks gives me an amount to the product of (standar_price the product.templ

[2016-02-13 12:36] pedrobaeza commented on #55
Current _mrp_production_real_cost_ module updates only the price of the stock move here: https://github.com/OCA/manufacture/blob/8.0/mrp_production_real_cost/models/mrp_production.py#L35, and the proposed PR for _mrp_production_estimated_cost_ only update standard price under demand here: https://github.com/OCA/manufacture/pull/64/files#diff-800ef06f83140fa164e11b737fbc5141R263, so there's nothing

[2016-02-13 12:36] #55 closed, assigned to nobody

[2016-02-14 17:11] JMODaERP commented on #88
![2016-02-14 18_06_57-solucionado 2016-02-14 18_06_16-costs revenues - odoo pr 91-b](https://cloud.githubusercontent.com/assets/15608043/13035053/446a1d1a-d346-11e5-817e-5e6948057f8a.jpg)

The PR https://github.com/OCA/manufacture/pull/91 not only imputes hrs hand but also fixes this issue. In the PR / 91 decimals are no longer rounded to the first integer unit, as this was happening BUG. :+1:

[2016-02-14 17:15] JMODaERP commented on #88
# 8.0 mrp production real cost uptime update #91

[2016-02-17 19:22] rubencr7 opened #95 "[8.0][mrp_operations_extension] Doubt about number of operators"
Hi, I have the next doubt:
In production routing when it's selected the operation for copying his data in the workcenter lines, it is loading each line with respective data to each workcenter of that operation. On each line it is loading the number of operators of that operation through `onchange_operation()` in `MrpRoutingWorkcenter` class. It could be corrected as follows, and also take it from

[2016-02-19 18:01] mmalorni opened #97 "Missing Modules in V9"
Hi,
I noticed that a lot of modules that were present in v8 are not present in V9. Is there a reason why they have not been put in this new branch and gotten their installable property set to false?
#41 seem to have them all listed for upgrade to v9.

[2016-02-19 18:03] pedrobaeza commented on #97
They have been introduced in the 8.0 branch after the fork to v9 (that it was done several months ago). The migration procedure includes how to handle this: https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0

[2016-02-19 18:03] #97 closed, assigned to nobody

[2016-02-24 14:35] JayVora-SerpentCS commented on #41
#100  for quality_control\* modules, work in progress

[2016-02-24 14:37] pedrobaeza commented on #41
Thanks, @JayVora-SerpentCS, please migrate only one module per PR.

[2016-03-01 12:26] zamberjo opened #102 "[8.0][mrp_operations_extension] 'action_start_working' ignores the MO's workflow"
When you start a WO, it sets the MO state ignoring the MO workflow behaviour as you can see in this PR: (https://github.com/OCA/manufacture/commit/5e6ced1cd9b18855ce3f7ed2f1860d9f3ad4c1ae#diff-5ddfc0f2cd6e2a6524362393d297c9deR158)

This code isn't necessary at all  because the **modify_production_order_state** method (**mrp_operations**) changes the  state to **in_production** through the workflow

[2016-03-01 16:25] zamberjo commented on #102
We've fixed it in our fork https://github.com/diagramsoftware/manufacture/commit/01c75aa18ad7a6e1ffbb5c02f30513746e84ee85, we can do a PR if you agree.

[2016-03-01 16:26] pedrobaeza commented on #102
OK, make the PR and we discuss about it there (although I see at first sight as correct).

[2016-03-11 11:41] mamaf opened #106 "[8.0][mrp_production_estimated_cost] : Error when clicking on Costs Analysis button"
In a virtual Manufacturing order, when clicking on Costs Analysis button :

Traceback (most recent call last):
  File "/home/it-6it/aoe-dev_80/base/openerp/http.py", line 537, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/home/it-6it/aoe-dev_80/base/openerp/http.py", line 574, in dispatch
    result = self._call_function(*_self.params)
  File "/home

[2016-03-11 11:45] mamaf opened #107 "[8.0][quality_control_mrp] Link between Manufacturing order and quality control inspection lost"
From the Manufacturing order I created a quality control inspection by clicking on the button Inspections
In the inspection form, I set the link to the correct MO and save, but when I come back to the MO, the butonn is still displaying 0 inspections and when I click on the button, the list of inspections is empty

[2016-03-11 13:05] mamaf opened #109 "[8.0][mrp_project] Error when creating assignation to a task"
In Work order, operators time tab, when adding a line and creating a task to assign a person, I get this error :
Traceback (most recent call last):
  File "/home/it-6it/aoe-dev_80/base/openerp/http.py", line 537, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/home/it-6it/aoe-dev_80/base/openerp/http.py", line 574, in dispatch
    result = self._call_

[2016-03-14 16:54] pedrobaeza commented on #107
That's because inspections are only linked to production orders when auto-created from the manufacture trigger. You can't link by hand an inspection to a production order, although you fill the reference field with a MO.

[2016-03-14 16:54] #107 closed, assigned to nobody

[2016-03-14 16:57] pedrobaeza commented on #109
Task are created automatically, so no need to create it by hand. Anyway, please tell me the exact steps you have made for reproducing the error.

[2016-03-14 17:01] mamaf commented on #107
And how do you specify the "manufacture trigger" ??

[2016-03-14 17:06] mamaf commented on #109
In a work order, in modification, I go to operator time and create a line, then create a task
When saving the work order, I have the error

I have never seen any lines in this tab, What do I have to parameterize so that tasks are created automatically ?
The need is to record human (employee) time and cost

[2016-03-14 17:30] pedrobaeza commented on #107
You have them on the product form.

[2016-03-14 23:37] anajuaristi commented on #107
About this, just today I received a suggestion from a customer who told me about the link/shorcut from Mo and Wo to inspection exists we could allow to create as many manual inpections needed in any step of the production filling automatically Mo/product inspection fields. Otherwise there is no way to have informed those fields.
On the other side, they also sugested to have editable all link field

[2016-03-14 23:46] anajuaristi commented on #109
If you set the number of workers on routing line, tasks will be created
automatically.
Notice that you need to activate workers option in manufacturing
configuration form, otherwise the field could be invisible on routing line
and operations master where you can pre-set the exact workers that will be
assigned as task responsible.
El 14/3/2016 18:06, "Jean-Marc" notifications@github.com escribió:

[2016-03-15 00:02] pedrobaeza commented on #107
Yes, it can be an improvement. In fact, it's simple to be put, and I have made it in https://github.com/OCA/manufacture/commit/e50f8c556f89411e3ab8afd0ebb5bf3c4d29d5ab

[2016-03-15 08:22] mamaf commented on #107
Yes that is also the need of one of my prospects
There is also a need to have a simple screen (same type as warehouse barecode scanning) used during operations to simply start / pause / end work orders and enter simple test results during inspections
If I win this opportunity, I will keep you in touch with the requirements

[2016-03-15 22:16] mamaf commented on #109
How do you do that ? Where is the "manufacturing configuration form" ?

And how do you see mlachine and operator planning ? (are we obliged to use project management ??)

[2016-03-16 08:16] anajuaristi commented on #109
Menu Configuration/manufacturing
And yes. We designed odoomrp not to reinvent the wheel so as in odoo people
registers time in tasks we linked both modules adding tasks to Mos and Wos
El 15/3/2016 23:16, "Jean-Marc" notifications@github.com escribió:

[2016-03-18 08:42] wtaferner opened #111 "[8.0][mrp_plan_wizard] Feature Suggestion: Light-weighted Material Plan Wizard"
Hi guys,
Just found some time and a reason to be active and to get slowly started within the OCA as a developing contributor.

I want to suggest a module which I recently did for a customer and is of small scope.
Its target was to provide a wizard to plan products based on BoM to get a list for daily manual purchase. It could be also a user-friendly starting point for more rich features of plannin

[2016-04-22 13:07] vafonso opened #119 "Real costs in manufacturing orders"
Hi,
I am testing the Real Costs module for V8 and I figure out that the "Total Real Cost" on Manufacture order (field: real_cost Object: mrp.production) is different from the "Cost price" on Product form (field: standard_price Object: product.template)
In my testings, I set up average cost and also real cost for the manufactured item but none of options insert the correct cost in the item cost (as

[2016-04-25 15:51] vafonso commented on #119
As I am not expert into Odoo python, I looked that the _prepare_account_move_line takes the quant value for the stock journal move before the mrp calculates the new average/real cost price.
That means, the MO cost is correct calculated, but Odoo takes the quants moves costs
Let me know if this is really a problem.

Thanks in advance

Vinicius

[2016-05-16 07:27] yastri opened #124 "is:issue is:open [8.0][mrp_production_real_cost] Error when produce product"
Hi,

there's new error from mrp_production_real_cost, after I do git pull from the last commit

[code]

regards

[2016-05-16 08:46] pedrobaeza commented on #124
You need to update your module and restart server.

[2016-05-16 09:30] yastri commented on #124
I've already update the module and all dependency and restart server, but still error.
I try to uninstall, after that manufacturing can do produce, but when I install again there's same error when I push the button produce.

[2016-05-16 09:33] pedrobaeza commented on #124
The log you have put proves that it wasn't updated and restarted, because the referenced line is not the same as the shown one. Has the error log changed?

[2016-05-16 09:43] sandrafig commented on #124
I just had the same error, I've updated all my repositories this morning and the database aswell

**ValueError: "can't adapt type 'mrp.production'" while evaluating
u'action_production_end()'**

[2016-05-16 09:45] pedrobaeza commented on #124
Do you have a module from odoomrp-wip called mrp_production_manual_close or similar?

[2016-05-16 09:49] sandrafig commented on #124
I don't have that module installed

[2016-05-16 09:50] pedrobaeza commented on #124
Then please give me an update error log. The first one is not correct

[2016-05-16 09:52] sandrafig commented on #124
2016-05-16 09:40:36,433 3675 ERROR CursoEjercicios openerp.sql_db: Programming error: can't adapt type 'mrp.production', in query  SELECT "mrp_production"."write_uid","mrp_production"."std_cost","mrp_production"."percentage_difference","mrp_production"."partner","mrp_production"."project_id","mrp_production"."origin","mrp_production"."product_uos","mrp_production"."location_dest_id","mrp_productio

[2016-05-16 12:06] yastri commented on #124
this my error log

[code]

[2016-05-16 16:42] yastri commented on #124
Hi Pedro,

Could you help me, which modules that should update? I've already update many modules but still cannot use produce button if mrp_production_real_cost installed.
Last week there's no problem with this module.

I noticed thats some Warning message log when I restart the server.

[code]

Is this warning has relation with the problems?

Thanks.

[2016-05-17 06:50] pedrobaeza commented on #124
Sorry, but I'm not able to reproduce the problem, local nor on runbot. Have you tried to reproduce it on runbot?

[2016-05-17 15:57] yastri commented on #124
I check the module at runbot, and I noticed that I have 2 module for MRP Project Link.
I tried to uninstall one from the odoomrp, and update all modules again, but the error still same :(

[2016-05-18 02:17] Sebmen commented on #119
Hi everyone
I have a similar problem on my Odoo V8 and the standard price is not updated after making a manufacturing order.

The Estimated real cost is correctly calculated in the "Extra information" tab on Manufacturing order but not reflected on the standard price of the product nor in the accounting entries (the actual standard price is used) when production is over.

**_Here are the manufactu

[2016-05-18 06:09] yastri commented on #124
When I uninstall mrp_product_variant there's error for mrp.production.product.line.attribute'

[code]

I think it's related with the "mrp.production.product.line.attribute", but I cannot find how to update this models.

[2016-05-18 07:26] sandrafig commented on #124
I confirm that the error goes away when I uninstall mrp_production_real_cost

[2016-05-18 08:17] yastri commented on #124
Yes, the error goes away for me too.

But I need this module.

On 18/05/16 14:26, Sandra Figueroa wrote:

[2016-05-19 15:56] antespi commented on #124
You can fix this temporally moving your OCB git proyect to this commit https://github.com/OCA/OCB/commit/e6016c6627d76a5d3f62d4812c0c4b3dba217725

[code]

Until this  bug is fixed you can not update OCB

I think that the suspicious commit is https://github.com/OCA/OCB/commit/3a32021122c503d64aee960124f0bc70222ce972, because this issue is related with the fact that the production is written (here:

[2016-05-26 11:34] oihane commented on #124
The commit that causes the fail is https://github.com/OCA/OCB/commit/6f29bfc181d23d70d29776d96b4318e9ee2c93a9

Is just a line but if you add it to the last OCB it works fine.

[2016-05-26 15:39] yastri commented on #124
Sorry for late reply, I have test this code.

Yes ... this line code fix the real cost module :+1:

[2016-05-28 21:56] Ayhamhafez opened #132 "Issue on stock move for manufactured product"
When produce product that has average price cost method, the generated journal always has zero credit and debit inspite of the average price on the product form is updated correctly.
Used module: MRP real cost

[2016-06-01 08:22] andhit-r opened #133 "[quality_control_stock][8.0] No inspection created when transfer product using package"
module: quality_control_stock
version: 8.0

**Steps to reproduce**
1. Create a test
   ![selection_1](https://cloud.githubusercontent.com/assets/1947376/15702694/a9476d40-280b-11e6-80fb-57d1d7666d2d.png)
2. Assign QC trigger on product
   ![selection_2](https://cloud.githubusercontent.com/assets/1947376/15702738/e006d672-280b-11e6-829d-d15a9597b9c1.png)
3. Create a picking that will trigger QC

[2016-06-01 08:26] pedrobaeza commented on #133
It's a non covered use case.

[2016-06-01 08:38] andhit-r commented on #133
@pedrobaeza do you think it will useful for community if i add functionality to cover such use case? If you think it's useful should i add functionality on quality_control_stock or create new module?

Many thanks

[2016-06-01 09:11] pedrobaeza commented on #133
Yes, it can be useful in the same module, as packages are also from stock module.

[2016-06-01 09:39] andhit-r commented on #133
@pedrobaeza thanks for the confirmation. I will create PR for that functionality.

[2016-06-01 09:39] #133 closed, assigned to nobody

[2016-06-08 16:13] mrparadies opened #135 "Bom Dismantling"
I am trying to use the mrp_bom_dismantling module with V9 enterprise.  I can successfully install the module and create a dismantling bom.  However, when I try to print the BOM Structure report of the dismantled bom I get the following error:
![image](https://cloud.githubusercontent.com/assets/17574418/15901637/b3dd068a-2d69-11e6-85a5-32a62448f34e.png)
When I try to print the BOM Structure report

[2016-06-10 11:15] levkar commented on #119
It does not update standard price. It uses analytic to calculate real cost and updates inventory value of the finished good with this calculated value.

Note that "produce and consume" option will produce the finished good before consuming thus you will have wrong cost (if you use this options before consuming all products). It works if all products are consumed before produce operation because it

[2016-06-10 11:20] levkar opened #136 "mrp_hook conficts with stock_available_mrp"
when both addons are installed stock_available_mrp calls _bom_explode and causes  singleton expected error while accessing product page.

@pedrobaeza @cyrilgdn

[2016-06-25 10:30] #111 closed, assigned to nobody

[2016-06-29 11:58] jkrenzer opened #139 "[8.0] quality_control_stock: Expected singleton exception with multiple triggers per picking-route/product"
Hi!

I stumbled across an exception when trying to confirm a picking in the stock picking wizard: When having multiple triggers for one picking type on one product, we get a singleton-exception:

[code]

I hacked a quick patch because we need to do our pickings here immediately. It seems to work so far, but currently I have zero time for further testing.

[quality_control_stock.patch.txt](https://

[2016-08-05 18:20] levkar commented on #124
This fix https://github.com/OCA/manufacture/commit/8d8c78a7489b18dcbac163f6b091ed48a6088f43 works with single level BoM's. If there exist a multi level BoM, the same error is raised while producing inner product.

Right place to call refresh is in _check method of procurement.order. I will send a PR soon.

[2016-08-07 02:59] payam124 opened #143 "Dismantling a product which produce multiple sub-product of a same type with serial number"
my original post is here
https://www.odoo.com/forum/help-1/question/disassemble-a-server-106719
so this is the scenario

the product is a server
it is made of different parts and each part has a serial number
i.e.
src-CTO-0001
  SN: SRV0001 (is created during manufacturing process)
1xChassis, SN:
   CH00001
2xCPU, SN:
  CPU0001
  CPU0002
2x Memory, SN:
   MEM0001
   MEM0002

I create the BOM, I ma

[2016-08-18 15:40] nestoravalos opened #145 "[/mrp_production_real_cost, error to calculate with average cost price, when delivery production partials"
Hi everyone,

Some specialist in the module 'mrp_production_real_cost' can explain to me the next results in the calculate of Average Cost Method:

In resume: if i delivered the manufacturing order in partials, the standard price is different when i delivered the manufacturing order without partials, when i finished the productions orders the quantity is the same.
What is the effect in the formula

[2016-08-22 04:25] moylop260 opened #146 "[9.0] mrp_production_partner_note: UnicodeEncodeError"
Steps:
1. Connect to last build of runbot 9.0
   - https://runbot.odoo-community.org/runbot/129/9.0
2. Search partner `ASUSTeK`
   - Add value `My Producción Note with ascii` to field `Production Notes`
   - Set value `True` to field "Customer"
3. Search product `iPad Retina Display`
   - Set value `True` to field `Make To Order`
4. Create a new sale order:
   - Choose `ASUSTek` to field partner.

[2016-10-06 12:57] pedrobaeza opened #157 "Migration to version 10.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0
# Modules to migrate
- [ ] mrp_bom_dismantling
- [x] mrp_bom_note - By @bimajatiwijaya - #202
- [ ] mrp_bom_product_details > mrp_bom_product_detail - By @bimajatiwijaya - #241
- [ ] mrp_bom_reference_selection
- [x] mrp_calendar_view > mrp_repair_calendar_view - By @tafaRU - #177
- [ ] mrp_industrial_design_bom
- [x] m

[2016-10-17 13:22] rubencabrera opened #159 "Number of cycles in mrp.routing.workcenter"
In the tree view of mrp.operation.workcenter inside the mrp_routing_form_view the field "Number of Cycles" actually shows the value of "capacity_per_cycle" from the workcenter.

Is the name of the column wrong or should it do something else?

[2016-10-17 13:24] pedrobaeza commented on #159
Yeah, the name is wrong. You can make a PR changing it.

[2016-11-23 15:04] rubencabrera opened #166 "[8.0] mrp_operations_extension: mrp.operation.workcenter fields time_start and time_stop are ignored."
The model mrp.operation.workcenter adds op_wc_lines where we can override values from the workcenter, but the values for time_start and time_stop are not taken into account for the mrp.routing.workcenter lines.

This information could be important for cost estimation and users expect it to be, at least, added to the value of hour_nbr.

[2016-11-23 16:27] anajuaristi commented on #166
@agaldona could you please take a look to see this happens?.

If time_start and time_end are included on mrp.routing.workcenter lines, it should go to the OT.

[2016-11-23 17:07] agaldona commented on #166
There are time_start and time_stop fields in workcenters and in workorders. When creating the MO costs this fields are taken into account but only if you have specified the pre_op_product and the post_op_product in the workcenter. Maybe this is the problem.

[2016-11-30 16:10] rubencabrera opened #167 "[8.0] mrp_project: Don't automatically create tasks"
mrp_project is a dependency of other modules, as they use the link between MO and project. Also, mrp_project creates tasks per each work order.

If tasks and job lines are manually handled, automatic generation of tasks when a MO is set into production might be an undesired behavior.

[2016-11-30 16:35] pedrobaeza commented on #167
As there's a PR, I close this.

[2016-11-30 16:35] #167 closed, assigned to nobody

[2017-03-03 05:25] abelardo21 commented on #157
Hola pedro buen día, estoy revisando el modulo mrp_production_partner_note y me interesa instalarlo en la versión 10, ya lo intente pero creo que el modulo no esta habilitado para la instalación aun, existe alguna manera de integrarlo a la versión 10? o se debe reprogramar?

Gracias de antemano por tu ayuda

[2017-03-17 01:54] pedrobaeza commented on #157
Please speak only in English. You can see above that it's not migrated yet. Anyone can migrate it and contribute it in this repo.

[2017-04-24 11:01] LoisRForgeFlow opened #189 "[9.0] mrp_bom_dismantling: Dependency not used?"
I'm wondering why this dependency is needed here: https://github.com/OCA/manufacture/blob/9.0/mrp_bom_dismantling/__openerp__.py#L16

cc @cyrilgdn

[2017-04-24 15:03] cyrilgdn commented on #189
@lreficent He uses components computation method from this module.

This method https://github.com/OCA/stock-logistics-warehouse/blob/9.0/stock_available_mrp/models/product_product.py#L92
Is called here: https://github.com/OCA/manufacture/blob/9.0/mrp_bom_dismantling/models/mrp_bom.py#L153

[2017-04-24 16:42] JordiBForgeFlow commented on #189
@cyrilgdn I propose to remove the dependency, and define a new method that does the same in this module. Because that method is generic. We are really not instested in what 'stock_available_mrp' does, and it is adding unneded complexity to us. Better decouple, IMHO. Can we propose a PR?

[2017-05-17 09:07] LoisRForgeFlow opened #196 "[RFC] Nonconforming Material Report (NCMR)"
Description
--------------

Non-Conformance Material Report (NCMR) allows you to report non-conforming material identified during inspection of items or material (Quality Control or Warehouse Inspection) or during the movement of the materials and/or when the material is in stock.

**Information required:**

* Details of the source: order, lot identifiers, product...
* Description of the material

[2017-05-31 13:36] bimajatiwijaya opened #200 "[9.0] mrp_sale_info"
Related information (**sale order, customer and commitment date**) was empty when activate Outgoing Shippings (pick + ship) and i guess it will empty if use other custom routing with move more than 1.

[2017-06-01 06:42] bimajatiwijaya commented on #157
Hello @pedrobaeza PR #201 mrp_sale_info created.

[2017-06-03 09:15] bimajatiwijaya commented on #157
PR created mrp_bom_note #202

[2017-06-03 12:43] bimajatiwijaya commented on #157
PR created mrp_product_details #203

[2017-06-07 12:18] LoisRForgeFlow opened #206 "[RFC] [mrp_split] Split Manufacturing Orders"
Description
--------------

Sometimes a manufacturing order (MO) is so big that we do not have enough components available in our stock to start the production, however we would like to start to produce. Currently in Odoo there is no way to start the production of a MO without having all components available or forcing it.

Proposal
-----------
**module name:** `mrp_split`

Through a wizard in MO

[2017-06-07 12:30] pedrobaeza commented on #206
Isn't better to just start manufacturing without splitting? Splitting, you will have also the problem that you haven't calculated correctly the quantity you can manufacture and you realize too late, as the order has been split.

We have this on OdooMRP project, but I can't say right now where exactly. @anajuaristi @oihane can you help?

[2017-06-07 12:45] andhit-r commented on #206
Raw material availability can be solve by start MO without material like @pedrobaeza said. But there are still few good reasons to have this module such as:

1. Large amount of qty order for a long span of period plus partial delivery. Company usually split it into several MO.
2. In case of subcontracting, I found out that many company subcontract it to few vendor. Split MO will be a solution

[2017-06-07 12:46] andhit-r commented on #206
And mrp_operations_start_without_material module already move to OCA on v8

[2017-06-07 12:52] pedrobaeza commented on #206
Thanks for the insights @andhit-r

Indeed, we can have other use cases for splitting like you pointed.

[2017-06-07 12:55] AlainVanUtterbeeck commented on #206
Maybe this existing Odoo 8 module can be a base start:
https://apps.odoo.com/apps/modules/8.0/mrp_merge_split/

On Wed, Jun 7, 2017 at 2:46 PM, Andhitia Rama <notifications@github.com>
wrote:

--
*Alain Van Utterbeeck*

*ODOO Developer*

*DR Gaming Technology Europe nv/saOffice: +32 50 60.81.85 | Cell: +32
485.69.37.90*

*––––––––––––––––––––––––––––––––––*

*DISCLAIMER*

*This e-mail is from DR G

[2017-06-07 13:07] anajuaristi commented on #206
Take a look to
mrp_production_capacity
https://www.odoo.com/apps/modules/8.0/mrp_production_capacity/

This module was created for manufacturers having tanks with limited capacity so the MO should never be launched for more quantity than its maximum capacity

On module description is missing the last improvement where... if you manually change the quantity on the order and the capacity is bigger t

[2017-06-07 13:17] LoisRForgeFlow commented on #206
@andhit-r yes, you are right, actually our use case is usually related to very large orders. Anyway, I didn't know about mrp_operations_start_without_material module, I think it may be interesting in some cases (thanks ;) )

@AlainVanUtterbeeck I've checked and your module is different, it splits the MO in lots of a defined user-defined size. Our proposal split always in 2 and one of the resulting

[2017-06-07 13:20] LoisRForgeFlow commented on #206
Also, the idea is that this module will be able to split orders in 'confirmed' state also.

[2017-06-07 13:55] andhit-r commented on #206
@lreficent split in confirm state is a very desirable feature to have. But a lot happens when you confirm MO and many additional module already change MO confirm behavior. Due mrp base codes are difficult to extend, split on draft state is the safest way, combine with procurement_mrp_no_confirm and mrp_production_manual_close.

But if you have other safe solution, split when confirm will be killer

[2017-06-07 14:55] LoisRForgeFlow commented on #206
@anajuaristi that's an interesting module too! but still not able to check the current availability to produce, you split completely manually, right?

@andhit-r that's right but usually the user would realize that he wants to split after confirm the MO and see that it is waiting for raw materials. Maybe is not possible but I will give it a try, if not let's stick to split in draf state and maybe a

[2017-06-08 12:28] LoisRForgeFlow commented on #206
@pedrobaeza @anajuaristi @andhit-r @AlainVanUtterbeeck You can check a first version of the module in the referenced PR. Feel free to give some feedback, it would be appreciated.

Thanks!

[2017-06-10 14:31] bimajatiwijaya commented on #157
mrp_production_properties #209

[2017-06-26 08:22] LoisRForgeFlow commented on #206
FYI, we have changed the approach to solve this issue which generated this RFC. Finally, we are using https://github.com/OCA/manufacture/pull/210.

[2017-10-03 14:48] pedrobaeza opened #226 "Migration to version 11.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

# Modules to migrate

- [x] mrp_auto_assign - By @lreficent - #270
- [x] mrp_bom_component_menu - By @mreficent - #303
- [ ] mrp_bom_dismantling
- [x] mrp_bom_location - ~~by @mpanarin - in #254~~ - By @lreficent - ##285
- [ ] mrp_bom_note - By @agungrachmatulah - #265
- [ ] mrp_bom_product_details
- [ ] mrp_bom_refere

[2017-10-13 10:02] StefanRijnhart opened #229 "[RFC] Procurement of byproducts"
My client's use case: bought products are disassembled, and the parts are used in the manufacturing of other products. Working in Odoo 8.0.

Disassembly is implemented using standard mrp_byproduct. I am implementing procurement by configuring the byproducts with the Manufacturing route, selecting a BOM if the procurement's product is a byproduct on that BOM. When the MO is created and confirmed, I

[2017-10-23 15:27] ccandito opened #230 "MTO-MTS rule: the minimal quantity is not taken into account"
Dear All,
I've implemented both "MRP MTO with Stock" and "Stock MTS+MTO Rule" Apps.
I've entered a SO for Finished product and the net calculation (requirement - stock) has been performed successfully creating a MO with proper quantitu
The same happened for raw materials for BOM explotion and a PO has been created with the proper quantity. Unfortunately the PO's quantity has not taken into account

[2017-10-24 08:30] LoisRForgeFlow commented on #230
Hi @ccandito

Looking at the code seems that you are right. Feel free to propose a PR to fix it.

[2017-11-01 13:09] StefanRijnhart commented on #229
Eventually we got the same results by creating a MO for the main product when the byproduct was procurered, because the initial implementation was too hackish indeed. Let me know if there is interest in this module and I'll propose it into this project.

[2017-11-01 13:09] #229 closed, assigned to nobody

[2017-11-02 12:08] rubencabrera opened #233 "[8.0] [mrp_project] Projects automatically created from MOs of (sub)products with Manufacture route."
When creating a project from a Sale Order for a product with Manufacture and Make To Order routes, the corresponding MO generated takes the correct Parent project.

But if that product consists of other products with Manufacture and Make To Order, the MOs generated create a new project each, with no parent project or analytic account.

Is there any module or setting I'm missing to fix this or is t

[2017-11-07 09:02] gokhanerdogdu opened #234 "[10.0] [mrp_mto_with_stock] Not Working as Desired"
Hello Community,

mrp_mto_with_stock module is not working as desired for the below scenario. I want to check whether it is a bug or I am missing something.

We have product A and product A consists of product B and C, 1 unit in each for the BOM. We have 5 units for each them in stock and we have a sales order of 20 units of product A.

All the settings are made as described for the module.

1- Ma

[2017-11-07 11:24] LoisRForgeFlow commented on #234
Hi @gokhanerdogdu

The functionality of this module refers to the components in a manufacturing order, you got a "unexpected" 20-units MO for product A but if you look at the components to feed this MO you will see that 5 are fetched from stock and the remaining 15 generated a procurement. This, is exactly what this module is intended for.

Your issue is more in the procurement of the parent produ

[2017-11-07 11:56] florian-dacosta commented on #234
I don't think stock_mts_mto_rule can help in this case.
Actually, I don't really get the problem. From what I understand, there is no product A in stock, but there are 5 product B and 5 product C, correct?
In this case, it is working as expected, a manufacture order is created with 20 product A.
Purchase order for product B and C are for 15 product only as there are already 5 stock.
So all good no

[2017-11-20 11:39] LoisRForgeFlow commented on #206
Closing as https://github.com/OCA/manufacture/pull/210 is merged.

[2017-11-20 11:39] #206 closed, assigned to nobody

[2017-12-14 13:35] mauroanelli2017 opened #243 "[10] no trigger in quality control"
Dears,
i install quality control module on Odoo 10 CE but when i go to set the trigger in product form, trigger field is empty and cannot select anything.

[2017-12-14 13:40] pedrobaeza commented on #243
Install quality_control_mrp or quality_control_stock.

[2017-12-14 13:40] #243 closed, assigned to nobody

[2017-12-14 13:43] mauroanelli2017 commented on #243
cannot find for odoo 10 ce

[2017-12-14 13:46] pedrobaeza commented on #243
Not migrated yet

[2017-12-15 07:38] mauroanelli2017 commented on #243
do you have a timeline for migrating these? because without them quality controll works half.
thanks

[2017-12-15 07:41] pedrobaeza commented on #243
Me not. If you want this to get migrated, contribute either making you the migration or funding a developer to do it.

[2018-01-30 20:37] max3903 opened #248 "[11.0] mrp_bom_equivalent"
This module considers all the the products in the same product category to be equivalent and interchangeable in a Manufacturing Order, using the product priority. The user can specify non-equivalent products to a part on a BOM.

# Usage
- Go to Manufacturing > Master Data > Bill of Materials
- Create or update a BOM to check the box "Use Equivalences"
- Set the non-equivalent products among the pr

[2018-02-02 07:31] bodedra commented on #248
@max3903

PR #250 is ready for review.

[2018-02-02 15:31] ccandito opened #252 "mrp_mto_with_stock in sales order"
Dear All,
The requirement netting works out perfectly in a MO.
it could be nice to extend this feature to the sales order also.
example:
sales order FG=10 ea
Stock FG=3 ea
BOM 1 FG = 3 SF
stock SF=5
therefore
WO1= 7 FG --> 10-3 in stock
WO2= 7*3 - 5 = 16
regards
claudio

[2018-02-05 07:54] AlainVanUtterbeeck commented on #252
Isn't that what what the module stock_mts_mto_rule does?

Greetings,
Alain

On Fri, Feb 2, 2018 at 4:55 PM, Claudio Candito <notifications@github.com>
wrote:

--
*Alain Van Utterbeeck*

*ODOO Developer*

*DR Gaming Technology Europe nv/saOffice: +32 50 60.81.85 | Cell: +32
485.69.37.90*

*––––––––––––––––––––––––––––––––––*

*DISCLAIMER*

*This e-mail is from DR Gaming Technology nv/sa located in

[2018-02-06 11:03] ccandito commented on #252
Sorry, you are right
thanks
claudio

[2018-02-06 11:03] #252 closed, assigned to nobody

[2018-02-08 18:46] #248 closed, assigned to bodedra

[2018-02-12 14:07] rlaurinavicius opened #253 "MTS MTO rule for Manufacturing Subassemblies"
Hello guys,

I configured the MTS MTO rule for Finished Goods products and it works fine - the system checks the stock of finished goods and creates a Manufacturing Order for the required quantity.

I would like to extend this and make Odoo check the Stock of Subassemblies (Subcomponents) of those finished products and if needed create Manufacturing Orders for the required quantities.
Has anyone t

[2018-02-12 14:10] AlainVanUtterbeeck commented on #253
I believe what you want is actually the module mrp_mto_with_stock

Greetings,
Alain

On Mon, Feb 12, 2018 at 3:07 PM, rlaurinavicius <notifications@github.com>
wrote:

--
*Alain Van Utterbeeck*

*ODOO Developer*

*DR Gaming Technology Europe nv/saOffice: +32 50 60.81.85 | Cell: +32
485.69.37.90*

*––––––––––––––––––––––––––––––––––*

*DISCLAIMER*

*This e-mail is from DR Gaming Technology nv/sa lo

[2018-02-16 17:16] bodedra commented on #226
mrp_mto_with_stock #255

[2018-04-30 13:09] max3903 opened #268 "[11.0] mrp_barcode"
# Barcode Scanning in Manufacturing

This module allows you to use a barcode scanner to avoid clicking in the tablet interface of the MRP module.

Limitation: This module assumes that there is only one lot/SN of a component in a bin (Scanning a bin allows us to find the lot/SN number).

# Configuration

Print the following PDF document to have the barcode of the manufacturing operations:

* Print

[2018-05-02 09:30] LoisRForgeFlow commented on #226
mrp_auto_assign https://github.com/OCA/manufacture/pull/270

[2018-05-04 12:43] #159 closed, assigned to nobody

[2018-05-04 12:44] #166 closed, assigned to nobody

[2018-05-21 15:47] max3903 commented on #268
# Version 1.0.1

- [ ] Change the default filter in the work orders to remove the "In Progress" and only show the work orders to do.
- [ ] If the produced item is tracked by serial number, set the next serial number automatically when the work order is recorded
- [ ] Avoid scanning barcode of the component if there is only one number in the dropdown list. Show the stock location to pick it.

[2018-05-21 15:56] max3903 opened #275 "[11.0] mrp_production_split_manual"
# Module description

This module allows the production manager to split a manufacturing order based on the minimum capacity of the work centers involved in the routing.

# Configuration

* Set the capacity on your work centers

# Usage

* Create a manufacturing order for a product using the work center configured previously
* Set a quantity to produce greater than 1
* Click on "Split"
* The wizar

[2018-05-21 16:07] max3903 opened #276 "[11.0] mrp_workorder_split_by_quantity"
# Module description

This module splits the work orders based on the quantity to produce to have 1 work order per item to produce. The planned dates will be set according to the number of operators set on the work center.

# Configuration

* On the work centers, enter the "Number of Operators"

# Usage

* Go to a confirmed manufacturing order with a quantity to produce greater than 1 and click on

[2018-05-23 09:06] LoisRForgeFlow commented on #268
Hi @max3903

Just a quick comment: you shouldn't depend on 'quality_mrp'  as it is a enterprise module, should you?

[2018-05-23 09:10] LoisRForgeFlow commented on #275
have a look at [mrp_production_request](https://github.com/OCA/manufacture/tree/10.0/mrp_production_request). It is on v10, but with some little tweak or extension it could cover your need.

[2018-05-23 09:13] LoisRForgeFlow commented on #275
Just trying to save you some time, for the record you can check how I got to manufacturing requests, the [inicial approach](https://github.com/OCA/manufacture/pull/208) was trying something similar to what you are describing here, but I abandoned it in favor of manufacturing requests.

[2018-05-23 13:53] max3903 commented on #268
Hi @lreficent,

Yes I should. The module is customizing a view from `quality_mrp`:
https://github.com/OCA/manufacture/pull/269/files#diff-adfd3d5275cc973ee573d9a590083ffdR8

[2018-05-24 11:43] LoisRForgeFlow commented on #268
@max3903 What I meant was: OCA modules should be always designed to work on top of Odoo CE.

I don't know if there is a strict policy regarding this but I've never seen dependencies with EE modules at OCA. Plus, runbot will always fail to build your module as it doesn't use EE code.

[2018-05-24 11:46] pedrobaeza commented on #268
Yes, OCA modules can't depend on a proprietary module.

[2018-05-24 13:29] max3903 commented on #268
Yes they can:

![datas](https://user-images.githubusercontent.com/939952/40488425-60981e46-5f2c-11e8-9093-f74798527ea8.jpeg)

Can't we skip the installation of this module in the test execution and runbot?

[2018-05-24 13:35] pedrobaeza commented on #268
Not easily, and I personally prefer to not have such modules here.

[2018-06-04 13:22] jgrandguillaume commented on #275
Hi @lreficent

We got to this point because we need to produce several serialized products at the same time and this is currently not supported by Odoo v11 (neither older version though).

You cannot produce more than one product at a time on a given workcenter if this product is serialized...

Splitting the MO is one of the option, but not yet convinced of the approach... But I wanted to let you

[2018-06-15 12:02] oerp-odoo opened #279 "[11.0] mrp_mto_with_stock consumed materials are doubled."
I don't know If I understand configuration of this module or intention, but it looks like it messes up manufacturing order consumed materials when used.

I'm using default mode (where nothing is enabled on warehouse to have forecast quantity mode). My product that is consumed in MO has `wh/stock` location set as `MTO/MTS` location. And uses `Buy` route only.

It seems it works correctly till mater

[2018-06-15 16:00] oerp-odoo commented on #279
I have created a fix for this issue: https://github.com/OCA/manufacture/pull/280

[2018-06-20 15:19] LoisRForgeFlow commented on #279
This can be closed too I think as it is solved.

Thanks!

[2018-06-20 15:19] #279 closed, assigned to nobody

[2018-06-20 15:20] oerp-odoo commented on #279
Yes. Forgot to close it:)

[2018-06-27 08:24] SimoRubi commented on #157
quality_control_stock - By @SimoRubi https://github.com/OCA/manufacture/pull/282
quality_control_mrp - By @SimoRubi https://github.com/OCA/manufacture/pull/283

[2018-08-10 04:48] PetriHeik opened #295 "[10.0] [mrp_mto_with_stock] Not working at all"
Hello,

I am having troubles with this module. It is not working at all. If I have 5 units of product A in stock and I sell 6 units. The module should check stock and create MO for one more, right?

I have set the manufacturing MTS/MTO location for my product but if I leave the MTO box checked, odoo will create MO for 6 units. And If I leave it unchecked, odoo will not create any MO.

Thanks.

[2018-08-16 07:26] SalahAdDin commented on #226
mrp_project: https://github.com/OCA/manufacture/pull/296

[2018-08-23 06:11] ProcessControl-JHF commented on #226
Hi! Why there isn't any **quality_control** module in the list? it's been moved to another branch or it's not longer needed. Thanks.

[2018-08-23 06:14] pedrobaeza commented on #226
Because they were merged in 10.0 after the 11.0 branch (and this issue) creation, but no, we never remove modules from the list. If they are not needed, we strike-through them and comment the reason. I have added manually them.

[2018-08-23 08:34] ProcessControl-JHF commented on #226
quality_control #298

[2018-08-23 13:01] LoisRForgeFlow commented on #295
Hi @PetriHeik

To work properly the 'Make to Order' box must be unchecked.

[2018-08-25 17:37] ccandito opened #299 "equivalent products"
Dear All,
I've installed the "mrp_bom_equivalent" module and afterwards the "ddmrp_production_equivalent" also.
In both test cases, the equivalent product has not been determined.
What I did is:
in the BOM I've checked the "use equivalence" indicator for a component material;
this component material has not stock on hand;
another material with the same category has enough stock.
Unfortunately the

[2018-08-26 01:15] max3903 commented on #299
Hello @ccandito,

Is the equivalent product in a subcategory of the main product on the BOM line?
What is the buffer status of the main product?

[2018-08-26 10:01] ccandito commented on #299
Hi Maxime,
thanks for your prompt reply.
1) are you speaking about the field categ_id? if so, yes: the equivalent
product and the bom component belong to the same category
2) sorry, I did not grab what you mean
Regards
claudio

Il giorno dom 26 ago 2018 alle ore 03:15 Maxime Chambreuil <
notifications@github.com> ha scritto:

[2018-08-26 10:24] max3903 commented on #299
When the MO is created, Odoo checks the DDMRP buffer status (netflow
position is green yellow or red) of the main product. If it's not green, it
looks at the DDMRP buffer status of the equivalent products. If none is
green, the main product is not replaced.

El dom., 26 de ago. de 2018 05:01, Claudio Candito <notifications@github.com>
escribió:

[2018-08-26 11:16] ccandito commented on #299
Dear Maxime,
I've created two reorder point profiles for component and its equivalent
product with a replenishment/purchase buffer profile and ..... the
substitution works in MO parts list (thanks for your support).
Regards
Claudio

Il giorno dom 26 ago 2018 alle ore 12:24 Maxime Chambreuil <
notifications@github.com> ha scritto:

[2018-08-27 09:31] ccandito commented on #299
Dear Maxime,
just a remark you probably already know:
for activating this feature I had to create ordering points for bom components; that means these components are not taken into account in requirement dependent determination (PUSH logic) because an ordering point (PULL logic, so DDMRP) has been activate for them.
Unfortunately this is a big constraint to use this feature in a manufacturing envi

[2018-08-27 09:31] #299 closed, assigned to max3903

[2018-08-27 10:31] ccandito opened #300 "Demand in MRP multi level"
Dear All,
I'm started to test the "MRP multi level" module.
Unfortunately I did not grab how the independent requirements (the demand) has to be entered.
I've tried to use the "stock demand planning" for this purposes and when running the "mrp multi level" the following message comes up: "No MRP product found".
Thanks in advance
Claudio

[2018-08-27 11:27] JordiBForgeFlow commented on #300
You have to create an mrp.area first.
Then you can either define stock estimates (https://github.com/OCA/manufacture/blob/11.0/mrp_multi_level/wizards/mrp_multi_level.py#L357)
or you can place actual demand (confirmed stock moves) in the selected mrp area

[2018-08-27 16:42] ccandito commented on #300
Dear Jordi,
thanks for your prompt reply.
I've created an MRP Area for my WH and its main location.
I've also entered for some products some stock estimations for their demand
in the future.
unfortunately I'm receiving the same message "No MRP product found" when
running MRP multi level.
Regards
claudio

Il giorno lun 27 ago 2018 alle ore 13:27 Jordi Ballester Alomar <
notifications@github.com> ha

[2018-08-27 16:50] ccandito commented on #300
Dear Jordi,
I've entered 1 day in mrp_nbr_days and the following short dump has
occurred:
Regards
claudio

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/home/odoo11/odoo-dev/odoo/odoo/http.py", line 650, in
_handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/home/odoo11/odoo-dev/odoo/odoo/http.py", line 310, in
_handle_exception
    r

[2018-08-27 16:56] JordiBForgeFlow commented on #300
Try to create a stock picking from WH to customer, and see if it runs ok.

El lun., 27 ago. 2018 18:42, Claudio Candito <notifications@github.com>
escribió:

[2018-08-28 07:02] ccandito commented on #300
I've create two sales orders: one MTS and the second with MTO procedure.
Only for the second case, the procurement is triggered by the MRP multi level procedure for the components only (wrong!!), not for the semifinished material in sales order (right!!).
in the first case, nothing's happened.
Moreover, I've tried to convert the suggested inventory procurement items and the following short dump ha

[2018-08-28 07:05] JordiBForgeFlow commented on #300
@lreficent can you take a look?

[2018-08-30 08:34] LoisRForgeFlow commented on #300
Hi @ccandito

The functionality related to `mrp_nbr_days` haven't been ported and tested yet, I should have written it in the roadmap or hide the fields. I'll do it.

So, please, could you try again setting `mrp_nbr_days` to 0?

[2018-09-04 05:04] PetriHeik commented on #295
Hello,

If I leave Make to Order box unchecked, Odoo will not create any MO.

[2018-09-04 07:04] thomaspaulb commented on #41
@pedrobaeza Can we cross off mrp_hook from this list because of [this](https://github.com/odoo/odoo/commit/fbc66b29e347e0856215fdd39e33b96ed1a1b79f)?

[2018-09-04 07:07] pedrobaeza commented on #41
Done

[2018-09-04 11:01] SalahAdDin opened #305 "[11.0][mrp_analytic] num_production fields does not show any number"
Hi, i'm testing that module, i'd created many manufacturing orders with respective analytic accounts but i am not getting the correct productions' number:
![deepin-screen-recorder_select area_20180904115412](https://user-images.githubusercontent.com/5034215/45027703-d573ba80-b04a-11e8-90e9-9e1d128c42d1.gif)

Why?

[2018-09-04 11:14] #305 closed, assigned to nobody

[2018-09-05 11:51] LoisRForgeFlow commented on #295
Hi @PetriHeik

* have you got enough inventory for the components? if yes, no need for auto-created MOs.
* have you set the MTO/MTS locations for the components? if not, no automatic MO will be created.

Check this two points please.

[2018-09-07 07:13] PetriHeik commented on #295
Hello and thank you for the reply,

I have checked both of those points and it is not working. Here is a couple of pictures of the settings. Our system is in Finnish, but I think you can locate right places.

For example product N220
![kuva](https://user-images.githubusercontent.com/42260926/45204045-be211100-b286-11e8-9c39-4a4f8aae3f27.png)

I sell 5 items from KIUR
![kuva](https://user-images.gi

[2018-09-10 09:51] LoisRForgeFlow commented on #300
No more issues reported, closing it.

[2018-09-10 09:51] #300 closed, assigned to nobody

[2018-09-12 10:52] LoisRForgeFlow commented on #295
With that I cannot tell what is wrong, could you please try to reproduce your error in runbot: https://runbot.odoo-community.org/runbot/repo/github-com-oca-manufacture-129 (select any instance of v 10.0).

Thanks

[2018-09-12 14:43] rogie69 opened #306 "Not working as expected"
Hi,

We have tested the module and can seem to get it to work as expected both on our server and runbot. We have set up a product LE2000, perhaps you could have a look and tell us where we are going wrong.

Many thanks

[2018-09-12 14:48] pedrobaeza commented on #306
Which module? Which version? Which steps to reproduce? If you want to receive help, you should provide enough information. Take into account that this is voluntary, so following http://www.catb.org/esr/faqs/smart-questions.html helps you to get an answer

[2018-09-12 15:37] rogie69 commented on #306
Hi,
Apologies to not being clear.
the module is MRP MTO with Stock running on Odoo v11 (we have tried it on both our v.11 enterprise test server and also on runbot (from the link on the app page) when we did not get the expected result.

Scenario
We have set up a product LE2000 (on runbot), with ICE CREAM as its BOMs, checked Manufacture route and assigned a MTO/MTS Locations (on runbot as My Co/S

[2018-09-12 17:05] pedrobaeza commented on #306
@lreficent any clue?

[2018-09-13 10:08] NachoAlesLopez commented on #226
quality_control_stock #307

[2018-09-14 12:27] LoisRForgeFlow commented on #306
Hi @rogie69,

The module does not work directly from a SO, it works from nested MOs (i.e. MOs created from other MOs). Example (using a demo product that you can find in runbot already configurated):

![image](https://user-images.githubusercontent.com/23449160/45549834-63a92700-b829-11e8-9958-9ab991a94e21.png)

0. You add 5 units on WH/stock for subproduct 1.
1. You create a SO for 2 units of TOP.

[2018-09-27 00:12] OCA-git-bot opened #310 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [x] mrp_auto_assign - By @sudhir-erpharbor - #324
- [x] mrp_bom_component_menu - By @skukered - #351
- [ ] mrp_bom_equivalent - By @skukered - #357
- [x] mrp_bom_location - By @Saran440 - https://github.com/OCA/manufacture/pull/343
- [ ] mrp_mto_with_stock - By @sergiocorato - #411
- [ ] mrp_mto

[2018-10-02 12:05] LoisRForgeFlow commented on #9
Closing as the requirement is not going to be fulfilled.

[2018-10-02 12:05] #9 closed, assigned to nobody

[2018-10-02 12:08] LoisRForgeFlow commented on #62
Closing due to aging, please feel free to reopen.

[2018-10-02 12:08] #62 closed, assigned to nobody

[2018-10-02 12:08] LoisRForgeFlow commented on #88
Fix has been merged. closing.

[2018-10-02 12:08] #88 closed, assigned to nobody

[2018-10-02 12:09] LoisRForgeFlow commented on #95
Closing due to aging, please feel free to reopen.

[2018-10-02 12:09] #95 closed, assigned to nobody

[2018-10-02 12:10] LoisRForgeFlow commented on #102
Related PR has been merged.

[2018-10-02 12:10] #102 closed, assigned to nobody

[2018-10-02 12:10] LoisRForgeFlow commented on #106
Closing due to aging, please feel free to reopen.

[2018-10-02 12:10] #106 closed, assigned to nobody

[2018-10-02 12:11] LoisRForgeFlow commented on #109
No more answer, I consider the issue solved.

[2018-10-02 12:11] #109 closed, assigned to nobody

[2018-10-02 12:12] LoisRForgeFlow commented on #119
No answer, I consider the issue solved. Please feel free to reopen.

[2018-10-02 12:12] #119 closed, assigned to nobody

[2018-10-02 12:14] LoisRForgeFlow commented on #132
Closing due to aging and no version specified, please feel free to reopen.

[2018-10-02 12:14] #132 closed, assigned to nobody

[2018-10-02 12:15] LoisRForgeFlow commented on #135
Closing due to aging, please feel free to reopen if you still experience the issue.

[2018-10-02 12:15] #135 closed, assigned to nobody

[2018-10-02 12:16] LoisRForgeFlow commented on #136
Does this still happen?

[2018-10-02 12:17] LoisRForgeFlow commented on #139
Closing due to aging, please feel free to reopen if you still experience the issue.

[2018-10-02 12:17] #139 closed, assigned to nobody

[2018-10-02 12:18] LoisRForgeFlow commented on #143
Closing due to aging, please feel free to reopen.

[2018-10-02 12:18] #143 closed, assigned to nobody

[2018-10-02 12:20] LoisRForgeFlow commented on #189
Related PR has been merged.

[2018-10-02 12:20] #189 closed, assigned to nobody

[2018-10-10 17:56] ccandito opened #312 "MRP Multi level : raw material procurement"
Dear All,
I've run the procurement for a raw material from 'MRP inventory' view and the following error's occurred:
Thanks
Claudio

Traceback (most recent call last):
  File "/home/odoo11/odoo/odoo/http.py", line 650, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/home/odoo11/odoo/odoo/http.py", line 310, in _handle_exception
    raise pycompat.rerai

[2018-10-10 18:01] ccandito opened #313 "MRP multi level : misleading figures in MRP Inventory view - version 11"
Dear All,
I've set up the mail stock location as MRP Area.
I'm using PO with 2 steps, i.e. "input location" and afterwards "stock location".
After performing the initial receipt into "input location" the stock quantity is displayed in "MRP inventory" as "Starting Inventory" and not as "supply".
Regards
claudio

[2018-10-14 18:59] didier1969 opened #314 "mrp_multi_level : cannot update mrp products"
First, thanks for this excellent module !

I am currently testing your module, in order to implement soon. I am able to generate the mrp.inventory entries from the MRP Multi Level job, but I am getting fancy daily values.

I suppose there is a way to group and round-up the quantities to procure through the MRP Products additional fields.

But in view Manufacturing>MRP>MRP Products, the fields are

[2018-10-14 19:18] JordiBForgeFlow commented on #314
Hi! Please review https://github.com/OCA/manufacture/pull/297

[2018-10-16 10:30] LoisRForgeFlow commented on #312
This only happens in runbot, if you try on your local/server it should work.

Anyway, I should have a look to fix that in runbot too. Will come back to this when I have some spare time.

[2018-10-16 10:33] LoisRForgeFlow commented on #313
what is the "mail stock location"?

[2018-10-16 10:35] ccandito commented on #313
sorry
main stock location
it is linked directly to its warehouse so you could find it into the
warehouse table
regards
claudio

Il giorno mar 16 ott 2018 alle ore 12:33 Lois Rilo <notifications@github.com>
ha scritto:

[2018-11-12 08:51] eqrp opened #317 "stock_mts_route + mrp_mto_with_stock and BOM procurement"
Hi at all,

First: We installed stock_mts_route and mrp_mto_with_stock

We have the following problem. We have a motherproduct 'Test Motherproduct' (Route: 'Manufacture' and 'Make To Order + Make To Stock').

![screenshot 3](https://user-images.githubusercontent.com/15906250/48334946-91112600-e65c-11e8-8955-33b2d3f0bfa5.png)

This product has a bill of material with one product called 'Child Produ

[2018-11-13 18:27] JordiBForgeFlow opened #319 "[11.0][mrp_multi_level] product MRP parameters should be defined by MRP Area"
Now the parameters are set in the product, and you have less control. The proposal would be to define the parameters for each MRP area.

For example, you want to exclude a product for MRP in Area 1, but not in Area 2.

[2018-11-21 12:15] LoisRForgeFlow commented on #319
Handled here https://github.com/OCA/manufacture/pull/322

[2018-11-21 12:35] #319 closed, assigned to LoisRForgeFlow

[2018-12-19 14:59] katyukha opened #326 "[11.0][mrp_multi_level] Cannot install mrp_multi_level without 'en_GB.UTF-8' locale"
Hello!

I have tried to install `mrp_multi_level` and got following error:

[code]

Is it really required to install `en_GB` locale to make this module work?

May be it would be good to fallback to default locale?

Or even use locale based on user's lang?

---
Related #290

[2018-12-20 10:28] LoisRForgeFlow commented on #326
Yes, it is, it is also used in standard Odoo in some pos modules if I remember correctly. Plus, the locale is available by default in almost any linux distribution, so I don't think this is a very big deal, isn't it?

If you find a better solution without using en_GB localte please propose it in a PR. Thanks.

[2018-12-20 10:28] #326 closed, assigned to nobody

[2018-12-20 13:11] katyukha commented on #326
Hello again. Thanks for response.

It seems that default locale for Odoo is `en_US`. `en_GB` locale used only in `pos_sale` addon and in PO files.

For example, what i have found via `grep "en_US"`:

[code]

My case (when i spotted this error) is that we have docker image with only `en_US` locale installed that is used for continuous integration. And module fails to install without `en_GB` locale.

[2018-12-28 18:33] emagdalenaC2i commented on #226
@pedrobaeza you can check mrp_auto_assign - By @lreficent - #270 because it is merged
You can check quality_control_stock - By @NachoAlesLopez - #307 because it is merged
Please add to the list mrp_bom_component_menu - By @mreficent - #303
Please add to the list mrp_mto_with_stock_purchase - By @florian-dacosta - #302
Please add to the list mrp_production_putaway_strategy - By @lreficent - #271
Pl

[2019-01-06 21:36] emagdalenaC2i commented on #226
@pedrobaeza Please, check mrp_bom_component_menu - By @mreficent - #303 because it is merged
check mrp_mto_with_stock_purchase - By @florian-dacosta - #302 because it is merged
check mrp_production_putaway_strategy - By @lreficent - #271 because it is merged
check mrp_production_request - By @lreficent - #308 because it is merged
check mrp_progress_button - By @jbeficent - #309 because it is merge

[2019-01-07 14:48] ougc27 commented on #310
Hello

I want to migrate the mrp_production_request but i do not see that module in the list, why? Anybody is working on this?

[2019-01-07 15:15] pedrobaeza commented on #310
It's because the module was not migrated to 11.0 when 12.0 branches were created.

[2019-01-07 15:21] ougc27 commented on #310
Hello @pedrobaeza
Ohh, I think that the module was migrated in c5c2b75

[2019-01-07 15:23] pedrobaeza commented on #310
Yes, as said after the creation of 12.0 branches, when this issue is created automatically from the current content of the previous branch, and nobody has re-added it here, but no problem. Of course it can be migrated and added here, just like I have done right now :wink:

[2019-01-07 15:29] ougc27 commented on #310
Thank you @pedrobaeza, I'll work on that migration.
#329
Best Regards!

[2019-01-22 15:45] Eracydani opened #332 "quality_control does not separate quality inspections for products with a serial number"
Hi,

I was looking for help for the quality_control module (v11) and Odoo's webpage suggested this forum.

My colleagues, who are already using quality_control on Odoo v8, showed me that, when they purchase products with serial number traceability, the quality controls set for them appear separated in Odoo's Quality Control tab e.g. they buy 30 products and 30 quality checks appear when they trans

[2019-01-22 15:48] pedrobaeza commented on #332
I think it's a not implemented feature.

[2019-01-22 15:55] Eracydani commented on #332
Thanks for the reply, Pedro! You mean the separate quality inspections feature is something the guys using v8 must have programmed for themselves, or that you decided to take that feature out for Odoo v11?

[2019-01-22 15:57] pedrobaeza commented on #332
AFAIK, I don't remember that we implement that feature, so:

- It was an accident that in v8 that works that way.
- Or it was implemented outside the module.

[2019-01-22 16:00] Eracydani commented on #332
Okay thanks!

[2019-01-24 09:11] xerxesnoPT opened #334 "mrp_mto_with_stock material qty in PO double than it in MO."
Dear All,
i install the mrp_mto_with_stock in odoo11. and  use the first mode(default mode). i found in the procurement create associate purchase order .the qty of material is not correct
for exp:
-  i create a product named "Car"。i set the bom of car is "Engine" X1.
- see the picture:
![2019-01-24 4 45 16](https://user-images.githubusercontent.com/26807644/51665741-73b2ed80-1ff7-11e9-8e0b-6cac1ea

[2019-01-24 16:53] egonravalah commented on #334
We made a fix for that, will upload shortly

[2019-01-28 01:27] xerxesnoPT commented on #334
thank you very much @egonravalah

[2019-01-28 12:16] gurneyalex commented on #310
~~hello, is anyone aware of a plan to backport mrp_repair from 11.0 community to 12.0, since it was replaced by a 'repair' OdooEE module?~~

my bad, thanks @pedrobaeza

[2019-01-28 12:17] pedrobaeza commented on #310
AFAIK it was only renamed, but still available in Odoo CE: https://github.com/odoo/odoo/tree/12.0/addons/repair

[2019-01-28 15:06] anajuaristi commented on #310
I think it has sense to change it's name since it's nothing related to
manufacturing. Repair must be an independent module. So, IMHO it's better
to be "repair" than mrp_repair.

Now.. should it be created a new OCA/Repair branch? Or not?

Thank you:
Ana

El lun., 28 ene. 2019 a las 13:17, Pedro M. Baeza (<notifications@github.com>)
escribió:

--
CEO Avanzosc, S.L <http://www.avanzosc.es/> : Office

[2019-02-18 06:51] xerxesnoPT commented on #334
@egonravalah  dear friend, can you help me to fix this issue?

[2019-03-21 11:06] LoisRForgeFlow commented on #310
Is there any other extension to repair apart from `mrp_repair_refurbish`? If not, I don't think it's worth a new repository.

[2019-04-12 17:33] bodedra opened #347 "[12.0] repair_refurbish, product with tracking show error when end repair order"
Steps to reproduce:

- Create a sale order with product tracking either lot or serial.
- Confirm it. Assign serial number and validate delivery order.
- Create a Customer RMA and pick delivered product.
- Create a repair order and confirm it.
- Start repair and end repair.

Current behaviour:

![Screenshot from 2019-04-12 22-43-22](https://user-images.githubusercontent.com/14229503/56055202-9347ef

[2019-04-22 18:04] bodedra commented on #347
Ref: #348  We may close these issue.

[2019-04-23 05:16] #347 closed, assigned to nobody

[2019-04-28 13:21] skukered commented on #310
mrp_sale_info https://github.com/OCA/manufacture/pull/350

[2019-04-28 15:18] skukered commented on #310
mrp_bom_equivalent https://github.com/OCA/manufacture/pull/357 depends https://github.com/OCA/product-attribute/pull/417

[2019-05-10 09:22] NachoAlesLopez commented on #310
quality_control: #362

[2019-05-24 11:30] ahmedwajih opened #366 "MO : button to auto update stock-bom"
utility : update stock quantity - bom when a manufacturer order is created. (from button)

[2019-05-27 08:04] bodedra opened #367 "[12.0] repair_refurbish : Issue with stock location movement"
Steps to reproduce:

Configuration:
--------------------

- Create two Products. (Product Type | Storable Product, Tracking | By Unique Serial Number)

    - Wagon and
    - Wagon - Refurbish

- Increase product Wagon inventory with 1.0 and assign serial number XXXX01. QTY will increase on "Stock" location.

Sale Process:
------------------

- Create a sale order with product Wagon, confirm it and

[2019-06-01 17:47] emagdalenaC2i commented on #310
There is a PR for the migration of mrp_bom_equivalent - By @skukered - #357

There is a PR for the migration of mrp_sale_info - By @skukered - #350

[2019-06-19 01:53] duybq86 opened #377 "MRP Production Service cost"
How calculator cost with MRP Production Service.
Who can't help me.

[2019-06-26 11:34] pedrobaeza commented on #377
This issue tracker is for notifying issues with the modules of this repository. Please ask your question on the forums or mailing lists.

[2019-06-26 11:34] #377 closed, assigned to nobody

[2019-06-27 07:33] #367 closed, assigned to nobody

[2019-07-13 04:17] sbinmahfooz opened #382 "Installation Error"
Hi, when I have installed the module, it gave me error as follows:
Error while importing module 'mrp_production_grouped_by_product': 'Error while validating constraint\n\nField `mo_grouping_max_hour` does not exist\n\nError context:\nView `stock.picking.type form`\n[view_id: 1699, xml_id: n/a, model: stock.picking.type, parent_id: 840]\nNone\n<record id="view_picking_type_form" model="ir.ui.view">

[2019-07-13 10:42] pedrobaeza commented on #382
Import module option is not valid for modules that are not data (themes). And this is something general for all addons, not only for this module. You must put the addon in the addons path or use app store to install it.

[2019-07-13 10:42] #382 closed, assigned to nobody

[2019-07-13 14:10] sbinmahfooz commented on #382
Thanks appreciate it

[2019-08-12 07:23] sbinmahfooz commented on #382
Hi Again, I have been trying to install the module and got the following error

"TypeError: Model 'procurement.rule' does not exist in registry."
can u please help

[2019-08-12 07:25] pedrobaeza commented on #382
You must do as instructed and restarting Odoo service.

[2019-08-12 07:34] sbinmahfooz commented on #382
thanks, I have followed up exactly, have add it to the path, restarted the service, updated the app list and recieiving the error
![image](https://user-images.githubusercontent.com/52846567/62850809-c9798980-bcec-11e9-8ccf-7dacf2134fbb.png)

[2019-08-12 07:36] pedrobaeza commented on #382
The restart is not correct, as that error is not even on this module. Check all the steps, and this is not something to be addressed here anymore. Try on forums if you have more doubts.

[2019-08-12 07:38] sbinmahfooz commented on #382
ok, thanks, appreciate it

[2019-08-12 07:45] bodedra commented on #382
It seems you forget to add `stock` module as a dependency of your custom module. Review your custom module where you used `procurement.rule` object and `__manifest__.py` file.

[2019-08-15 13:48] sbinmahfooz commented on #382
Thanks Pedro,
I think the issue still persist and after investigating more I have found the following:
1- The App is depending on another model called Procurement Rule, which is not installed on Odoo 12.

So I was wondering, is this app (Group Manufacturing Orders by Product) compatible with Version 12, and if yes, can u please help me solving the issue of how to install this Procurement Rule Mode

[2019-08-19 20:58] chrisandrewmann opened #394 "mrp_parallel potential new module - Need some help"
Hi all,

I have written a module that i’m hoping to submit for manufacturing.
I’m very new to this and am still learning Odoo and Python, along with understanding the OCA community.
Currently the module is in my newly setup Github account here: https://github.com/chrisandrewmann/mrp_parallel
I wrote this to satisfy the needs of the company I work for, in about 3 weekends during my spare time and w

[2019-08-22 03:05] sbinmahfooz opened #396 "[12:0]MRP Group MO by Product: Possible Issue"
Hi,
i wanted to raise a possbile issue in the MRP group by Product App, following is the scenario
I have a BOM of components that are all manufactured with different routs, as follows:
**Product Name:** Sandwich X - Manufcture bom
**Detailed Bom**:
1- Filling A - Manufactured bom
2- Filling B - Manufactured bom
3- Sandwich Bases - Manufactured bom

Now, when i create a sales order: the first run t

[2019-08-22 07:53] pedrobaeza commented on #396
Do you mean the raw materials are not recomputed for the new quantity 4.000?

[2019-08-22 07:53] pedrobaeza commented on #396
@skukered you were the one migrating the module. Can you check?

[2019-08-22 10:26] sbinmahfooz commented on #396
Yes,
The new quantity of the components is not recomputed it shud go from 2 to 4
Regards

---- On Thu, 22 Aug 2019 10:53:31 +0300 notifications@github.com wrote ----

Do you mean the raw materials are not recomputed for the new quantity 4.000?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-08-23 05:14] sbinmahfooz commented on #396
@skukered any help pls

[2019-08-23 10:11] skukered commented on #396
I could check it out on the weekend.

[2019-08-23 14:29] sbinmahfooz commented on #396
thanks appreciate it

[2019-08-25 23:02] skukered commented on #396
I have my doubts if it is an issue of this module or of the mrp module. I think the 'change_prod_qty' method of 'change.production.qty' should make these changes...

[2019-08-26 02:35] sbinmahfooz commented on #396
I go with ur doubts, for the following reason,
When I use different scenario of defining routings at MRP, what happens is that, it does not group the top product Sandwich X, while it groups the components.
Having this, what could be possible solution

[2019-08-26 09:12] LoisRForgeFlow commented on #394
Hi @chrisandrewmann

It seems you put together some good features there! and I think your work will be welcomed to OCA repositories. My advice here is:

1. Split it into different features: "Engineering Spec Sheet" can be one module, "Parallel manufacturing work centers" can be another and "Timeline view for Work" can be a third one for example. The benefit is that you can maximize adoption and us

[2019-08-26 09:56] chrisandrewmann commented on #394
Hi there,
Thanks for your reply. Will take note of that and when time allows, try to split into 3 parts.
Will also look at the template and aim to make it fit better. No sure when as very busy currently.
Regards,
Chris

[2019-09-01 11:04] sbinmahfooz commented on #396
Hi, i  have recieved the following bug
![image](https://user-images.githubusercontent.com/52846567/64075463-682c5100-ccc1-11e9-840d-1fd9d3194c9e.png)

[2019-09-24 10:10] jcarvalhido opened #405 "mrp_production_grouped_by_product: Nothing happens"
Hi,
I installed the mrp_production_grouped_by_product module on Community V12, but nothing happens. Whenever I create an SO from the same product, it generates additional MOs, one MO for each SO.

[2019-09-24 10:16] pedrobaeza commented on #396
@skukered any news?

[2019-09-24 10:16] pedrobaeza commented on #405
Have you checked https://github.com/OCA/manufacture/tree/12.0/mrp_production_grouped_by_product#configuration ?

[2019-09-24 10:57] jcarvalhido commented on #405
I think so
![printscreen](https://user-images.githubusercontent.com/37071642/65508440-1a71c580-dec8-11e9-9662-962890f1e6e2.png)
![printscreen2](https://user-images.githubusercontent.com/37071642/65508441-1a71c580-dec8-11e9-91c2-ee135332d7c4.png)

[2019-09-24 11:10] pedrobaeza commented on #405
@skukered can you check this one as well?

[2019-09-26 16:16] eLBati commented on #310
mrp_production_auto_post_inventory: https://github.com/OCA/manufacture/pull/406

[2019-09-29 21:42] OCA-git-bot opened #408 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

- [ ] account_move_line_manufacture_info
- [ ] mrp_auto_assign
- [x] mrp_bom_component_menu - By @LoisRForgeFlow  - #410
- [x] mrp_bom_location - By @sudhir-erpharbor - #420
- [ ] mrp_bom_tracking
- [ ] mrp_multi_level
- [x] mrp_production_grouped_by_product - By @ps-tubtim - #454
- [ ] mrp_produc

[2019-09-30 10:19] sergiocorato commented on #310
mrp_mto_with_stock #411

[2019-09-30 12:18] sergiocorato commented on #310
mrp_mto_with_stock_purchase #412

[2019-10-09 07:54] igallart opened #417 "[12.0] Question: quality_control and quality_control Enterprise"
Hello, I have seen that in the enterprise version there is a module called quality_control, just like that of the OCA. Is there any incompatibility?

[2019-10-09 07:59] bodedra commented on #417
@igallart IMO, both modules have their unique functionality. Additionally, there is no duplicate fields introduce at object level. But it can not survive together.

[2019-10-09 08:01] pedrobaeza commented on #417
The only problem is the module name, that collapses and it's not shown in Odoo apps.

[2019-10-09 08:02] igallart commented on #417
So, the only problem is that either Enterprise or OCA version, but not both, ok?

[2019-10-09 08:03] pedrobaeza commented on #417
Yeah, that's true as well.

[2019-10-09 08:08] igallart commented on #417
Thank you, and perhaps the idea of changing the name to have both in the future could be valued. Sorry for my bad english.

[2019-10-09 08:15] #417 closed, assigned to nobody

[2019-10-11 12:24] sudhir-erpharbor commented on #408
Working on mrp_bom_location #420

[2019-10-16 11:48] CasVissers-360ERP opened #423 "[12.0] Manufacturing request make2order"
[code]
This method ensures reordering rules are not triggered when manufacturing requests are found.

Issue:
If the manufacturing request is created by a make2order sale order line, orderpoint_id is different and the reordering rule create unwanted extra manufacturing requests.

[2019-10-17 09:21] pedrobaeza commented on #423
Can you please include some steps to reproduce the problem?

[2019-10-17 20:17] mymage opened #425 "[RFC] Quality Control Plan"
To continue the discussion started on the mailing list Contributors https://odoo-community.org/groups/contributors-15/contributors-144648?mode=date&date_begin=2019-09-01&date_end=2019-10-01, we propose a module to add the management of Control Plan for Quality.

With these module it is possible to define how many quantity must be checked depending on the whole quantity received. The plan can be as

[2019-10-18 07:09] LoisRForgeFlow commented on #423
@CasVissers it can be that this happen, as we have never used MR's in a MTO strat. Please open a PR addressing it that includes a test case and I would review it.

[2019-10-18 07:25] CasVissers-360ERP commented on #423
@lreficent Yes I found out later that MR's are not able to handle MTO. Especially when dealing with multi-level bom and "stock -> production" stock moves. I fixed both with automated actions for now. Will try to make a PR asap. Will definitely need some help since I'm officially still a consultant.

[2019-10-18 13:45] LoisRForgeFlow commented on #423
@CasVissers Great, I will be happy to help you.

[2019-10-28 11:29] bealdav opened #428 "Connector with Frepple supply chain planning & scheduling"
Hi all,

Just a message to know if there are successful stories or any experiment with Odoo and frepple.

Could you give some feed back ?

Do you think it's a tool on which we can bet with odoo 12.0 ?

Thanks a lot

[2019-10-28 16:49] NachoAlesLopez commented on #310
quality_control_mrp: #430

[2019-11-04 13:27] sudhir-erpharbor commented on #408
Working on mrp_production_putaway_strategy #431

[2019-11-07 08:07] #428 closed, assigned to nobody

[2019-12-06 17:57] batona opened #438 "Port to odoo 12"
Hello! Are you planning to porting this module to odoo v12?
If not, what cost may be for porting it?
Thanks.

module: mrp_sale_info
version: 11.0

**Steps to reproduce**
- ...

**Current behavior**

**Expected behavior**

[2019-12-09 05:41] bodedra commented on #438
@batona mrp_sale_info module is under migrating process, so you may help to review it at https://github.com/OCA/manufacture/pull/350

[2019-12-09 09:55] batona commented on #438
Thanks I'll try it

пн, 9 дек. 2019 г., 7:41 Bhavesh Odedra <notifications@github.com>:

[2019-12-09 12:41] #438 closed, assigned to nobody

[2019-12-12 16:17] dcorio opened #439 "[11.0][12.0][quality_control_stock] auto_install"
This addon has auto_install set to True.
Is it correct?

[2019-12-12 21:35] pedrobaeza commented on #439
Yes :)

It should add the QC stock triggers if stock is installed.

[2019-12-12 21:35] #439 closed, assigned to nobody

[2019-12-27 09:58] NachoAlesLopez commented on #226
quality_control_mrp: #443

[2019-12-27 10:36] mariaasunciondaza commented on #310
Hi! The module mrp_repair_discount is not in the list, I would like to know why or if anybody is working on this?
Thanks.
@NachoAlesLopez

[2019-12-27 11:05] pedrobaeza commented on #310
https://github.com/OCA/maintainer-tools/wiki/%5BFAQ%5D-Missing-modules-in-migration-issue-list

[2019-12-27 12:48] mariaasunciondaza commented on #310
mrp_repair_discount > repair_discount #445

[2019-12-29 10:45] #423 closed, assigned to nobody

[2019-12-30 10:54] mariaasunciondaza commented on #310
mrp_repair_calendar_view > repair_calendar_view #447

[2020-01-07 09:29] kos94ok-3D opened #451 "[RFC][12.0][mrp_mts_with_stock] Create lite version of mrp_mts_with_stock"
As I see this module has many opened issues, so maybe need to refactor module.
My Idea base on manufacturing steps introduced in Odoo 12.
1. add a constraint for a warehouse that disallow use MTS+MTO with manufacture_steps == 'mrp_one_steps'
2. add new mto+mts rule with a lower sequence in "My Company: Pick components and then manufacture" route
As a result, not need to install mrp_mto_with_stock_

[2020-01-08 14:32] kevinkhao commented on #310
product_quick_bom #452 (from 10.0)

[2020-01-09 11:09] ps-tubtim commented on #408
Working on
- stock_picking_product_kit_helper https://github.com/OCA/manufacture/pull/453
- mrp_production_grouped_by_product https://github.com/OCA/manufacture/pull/454

[2020-01-11 11:22] kos94ok-3D commented on #451
#411

[2020-01-11 15:29] sergiocorato commented on #451
@kos94ok-3D Can you make a PR for this?

[2020-01-18 17:50] lbelorgey commented on #310
mrp_bom_note #461

[2020-01-18 17:54] lbelorgey commented on #310
mrp_production_note #462

[2020-01-22 11:19] kos94ok-3D commented on #451
I think better create a new module with the name mrp_mts_with_stock_lite.
ping @sergiocorato, @OCA/manufacturing-maintainers

[2020-01-22 15:38] sergiocorato commented on #451
:+1:

[2020-02-13 11:31] LoisRForgeFlow commented on #451
I don't understand why do create a new module instead of fixing what you claim has bugs.

[2020-02-13 12:27] kos94ok-3D commented on #451
HI, @LoisRForgeFlow.
1. I don`t know how to migrate mrp_mts_with_stock 11 to a new workflow because it can not work with manufacturing in one step
2. I didn`t get feedback on what is better to migrate or create new

[2020-02-13 12:54] LoisRForgeFlow commented on #451
what you mean is that https://github.com/OCA/manufacture/pull/411 is not working and you don't know how to fix it?

What I can say is the following:
* I would prefer if we get merged the migration to v12 in the above PR and then open a new one with your improvements.
* I am not using the module anymore as It was an oversimplification, so it won't be expending much time trying to fix it.

So, if yo

[2020-02-13 13:40] kos94ok-3D commented on #451
`what you mean is that #411 is not working and you don't know how to fix it?`
It is a problem which you tried to fix in  mrp_mto_with_stock, but I decided to add a constraint because I can work without manufacturing in one step.
Ok, I wait while PR #411 will be merged

[2020-03-11 09:52] ps-tubtim commented on #408
Working on mrp_stock_orderpoint_manual_procurement https://github.com/OCA/manufacture/pull/471

[2020-03-19 12:09] AaronHForgeFlow commented on #408
Working on repair_refurbish: https://github.com/OCA/manufacture/pull/482

[2020-04-05 14:43] anviz-github opened #496 "Manufacture_production_request uninstall error(V12 Enterprise Edition)"
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/home/odoo/src/odoo/odoo/api.py", line 1049, in get
    value = self._data[key][field][record._ids[0]]
KeyError: 4

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/odoo/src/odoo/odoo/fields.py", line 1005, in __get__
    value = record.env.cache.get(record, sel

[2020-04-06 03:04] #496 closed, assigned to nobody

[2020-04-14 04:03] deantheiceman opened #497 "Any documentation?"
Hi,

I stumbled across this as I was looking at Odoo for our MRP. Is this independent from the MRP and quality modules provided by Odoo Enterprise?

Is there any documentation about how to use this, if not how do I go about installing this?
Will this work with my Odoo 13 installation?

Thank you

[2020-04-14 06:59] pedrobaeza commented on #497
Yes, these are other modules. See each README for a description of their features.

[2020-04-14 06:59] #497 closed, assigned to nobody

[2020-04-14 09:05] deantheiceman commented on #497
I copied this repository into my custom addons folder but do not see it listed as an option to install. Is there any other steps I need to do?

Will it work with Odoo 13 community edition?

[2020-04-14 09:32] pedrobaeza commented on #497
That are general deployment questions that you should do in forums, not here. The migrated modules for 13.0 are in the 13.0 branch.

[2020-05-09 10:17] d4e-ch opened #500 "mrp_operations_extension abandonned ?"
Hello all !
mrp_operations_extension seems to be abandonned since 9.0.
Could you tell me why ? Is there another way to do it, since 10.0 ?
If not, I can help porting it to 13.0 !
Thanks !

[2020-05-09 10:27] anajuaristi commented on #500
It is not needed anymore since Odoo Core includes this functionality since
V10.
Thank you
Ana

El sáb., 9 may. 2020 a las 12:17, D4E (<notifications@github.com>) escribió:

--
CEO Avanzosc, S.L <http://www.avanzosc.es/> : Office phone / Tfono
oficina: (+34)
943 02 69 02
Ana Juaristi Olalde  <http://www.anajuaristi.com/>: Personal phone: 677 93
42 59. User/usuario skype: Avanzosc
www.avanzosc.es
ww

[2020-05-09 10:38] #500 closed, assigned to nobody

[2020-05-21 13:05] voronind commented on #226
What about `mrp_production_hierarchy` module?

[2020-05-28 13:55] sswapnesh commented on #314
Is it already fixed in #297 ? I think so (Maybe)

[2020-06-01 15:17] sergiocorato opened #503 "Mrp Repair Analytic"
In an old installation that I'm planning to migrate, I used [mrp_repair_analytic](https://apps.odoo.com/apps/modules/8.0/mrp_repair_analytic/) to generate analytic lines.
As I don't see something similar to replace it, could this module be useful for OCA?

[2020-06-01 17:25] matt454357 opened #504 "[12.0] mrp_multi_level: Phantom BoM items handled like normal BoM items"
**Impacted versions:** 12.0, 13.0

**Steps to reproduce:** (using demo data)
1. Change BoM for product SF-1 to phantom (BoM Type = Kit)
1. Create delivery order picking for FP-2
1. Run MRP Multi Level
1. Go to MRP Inventory list and look at product SF-1

**Current behavior:**
The user is prompted to procure product SF-1.  Doing so creates a manufacturing order for SF-1.  Attempting to Produce the

[2020-06-02 13:08] bealdav commented on #504
cc @JordiBForgeFlow @LoisRForgeFlow

[2020-06-02 17:36] matt454357 opened #505 "[12.0] mrp_multi_level: BoM explosion ignores product variant attributes"
**Impacted versions:** 12.0, 13.0

**Steps to reproduce:** (using Customizable Desk from demo data)
1. Create configurable components products
   * Desk Leg, Steel
   * Desk Leg, Aluminum
   * Desk Leg, Custom
   * White Trim Kit
   * Black Trim Kit
1. Create BoM for product template "Customizable Desk"
   * Product = Desk Leg, Steel; Apply on Variants = Legs: Steel
   * Product = Desk Leg, Alumin

[2020-07-07 12:49] MarcoCalcagni opened #508 "[12.0] mrp_subcontracting"
Hi,

if a row material is used in 2 subcontracting bom with 2 different vendor.  in product on hand is not possible to determine how much and where is the product in stock.
es
send to subcontractor Mario  100 qty of product raw materials “A”
send to subcontractor Bross  10 qty of product raw materials “A”

in stock i can see in hand 110 but is missing where .

Marco

[2020-07-07 12:53] pedrobaeza commented on #508
I don't get the problem. Stock must be in suncontractor locations.

[2020-07-07 13:08] MarcoCalcagni commented on #508
ok but how I understand in which subcontractor is the row material ?
If I have to do an Inventory Adjustments on subcontractor Mario how can i do it?

[2020-07-07 13:10] pedrobaeza commented on #508
As said, each one has a subcontractor location, so put different locations and control it that way.

This is not a bug and it's out of scope of the module, but general knowledge of Odoo, so closing.

[2020-07-07 13:10] #508 closed, assigned to nobody

[2020-07-07 13:23] MarcoCalcagni commented on #508
Sorry Pedro, the only way that I see is to create a specific operation type for any subcontractor and change on picking before validate .
Is that correct? if yes is not so smart.

[2020-07-07 14:35] pedrobaeza commented on #508
No, at partner level you have the subcontractor location as is taken automatically.

[2020-07-10 03:24] kittiu opened #511 "[13.0][ADD] mrp_production_type"
Currently this is almost done with module name "manufacturing_order_type", which is no inline with naming convenition.
https://github.com/OCA/manufacture/pull/499

@watcharaporn-git can you redo it?
cc @ps-tubtim can you help close the above?

Thanks!

[2020-08-03 21:33] ypapouin opened #516 "[12.0] mrp_production_request: Procurement group should not be set"
When a new MO is created from a MR, the `procurement_group_id` is set to it
https://github.com/OCA/manufacture/blob/9996f1624edc582479208f88606cc377ade2590c/mrp_production_request/wizards/mrp_production_request_create_mo.py#L101-L121

Problem is that related pickings for a MO is computed using `procurement_group_id`
https://github.com/OCA/OCB/blob/e1be2c3e03c186cb2be6ebc21d44e234b8f1b04a/addons/mr

[2020-08-05 17:05] Zephyria77 opened #517 "[12.0] Mrp Subcontracting Phase of Work"
Good Morning, I have been using odoo for 4 years in three different company. I have searched various discussions and module about subcontracting but nothing that met my idea. Now I'm using odoo V12 CE with workorder and routing. This is optimal for my workflow but some operation of routing must be subcontracted and I am forced to use multi level bom with many many intermediate steps while if I cou

[2020-08-23 08:54] szegc opened #522 "mrp_bom_tracking for 13 version issue"
Hello guys,

      Below are detail log for mrp_bom_tracking model testing result, try to change value in bom_line_ids, issue occurred like below: TypeError: _get_tracked_fields() missing 1 required positional argument: 'updated_fields'

Odoo Server Error

Traceback (most recent call last):
  File "D:\odoo13\odoo\odoo\http.py", line 624, in _handle_exception
    return super(JsonRequest, self)._ha

[2020-08-24 09:31] alyngsoe commented on #408
We need a migration of mrp_sale_info. We can add resources to help. Please add the module to the list if you agree.

[2020-08-24 09:32] pedrobaeza commented on #408
OK, @alyngsoe adding it.

[2020-08-28 16:10] bealdav commented on #517
Hi @Zephyria77 I share your opinion about subcontracting in Odoo v13.

It's incomplete. You're example are self explaining
In industry there is 2 kind of sub contracting:

- subcontract a product (product defined by myself but executed by others partners) : in odoo you can set subcontractors on bom (header bom)
- subcontract an operation (subcontract for one particular routing step to other partne

[2020-08-28 16:30] bealdav commented on #314
Ok @didier1969 then can be closed now.

[2020-08-28 19:40] hparfr commented on #517
In v10, we have added the subcontracting for one of our client. I didn't follow precisely what Odoo SA did implement in v11+ but I doubt it support complex supply chain.

Some key requirements of our project:
- BOM up to 8 levels (each level a different subcontractor)
- longest path (= sum of lead time) about 6 month
- some suppliers are chosen after the beginning of the firsts MO (lower levels, c

[2020-09-06 16:13] alyngsoe commented on #408
We now have a migrated v13 version of mrp_sale_info. HELP NEEDED to upload the module to ? /  create pull/request etc..
We don't have any Github knowledge in-house, and don't have the time. We just have the zip file of the v13 version.

[2020-09-07 06:42] pedrobaeza commented on #408
Well, that's not helpful. If you don't follow guidelines for contributing, you are overpassing basic things in open source like commit attribution. Please see again https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0 for knowing how to contribute.

[2020-09-08 11:15] LoisRForgeFlow commented on #522
Hi,

It is working perfectly for me.

Please, try to reproduce in runbot and share the steps to get the error, then you can reopen the issue.

[2020-09-08 11:15] #522 closed, assigned to nobody

[2020-09-15 07:06] sergiocorato opened #525 "[12.0] Kit sub-bom remove component ignored when updating MO"
When updating a manufacturing order with a sub-bom of type kit, the component are not removed if removed from the sub-bom.

Video:
![mo_subbom1](https://user-images.githubusercontent.com/7657311/93176917-44a04100-f732-11ea-8e9d-0bbc9d31d496.gif)

[2020-09-15 07:15] pedrobaeza commented on #525
But is this from any module of this repository?

[2020-09-15 07:37] sergiocorato commented on #525
No, should I put it in Odoo issues?

[2020-09-15 07:39] pedrobaeza commented on #525
Yes, that's the idea. The GIF is very small though, and so I can't say if this is a real bug.

[2020-09-15 07:39] #525 closed, assigned to nobody

[2020-09-15 09:16] sergiocorato commented on #525
moved to https://github.com/odoo/odoo/issues/57702

[2020-09-16 02:37] TimLai125 opened #526 "[12.0] mrp_subcontracting: picking cannot be validated"
Steps to reproduce:
1. Create a subcontract BoM.
![image](https://user-images.githubusercontent.com/27185427/93285407-53a4f300-f807-11ea-8cb2-8c6f42a6a9c2.png)
2. Create a purchase order with the product above and confirm the order.
3. Make sure there are more stock.picking/purchase.order records than mrp.production records.
4. Browse the picking from the purchase order / from the Inventory menu a

[2020-09-16 02:48] TimLai125 commented on #526
I think there is a conflict between following two methods:
1. [mrp] `default_get()` from `mrp.product.produce`: https://github.com/odoo/odoo/blob/8ddba8d3ca1b324c56279a229fd8d7725009f7e0/addons/mrp/wizard/mrp_product_produce.py#L15-L40
2. [mrp_subcontracting] `action_done()` from `stock.picking` :
https://github.com/OCA/manufacture/blob/b247119c67b328caf3fa99242a67c3f85966245d/mrp_subcontracting/m

[2020-09-17 10:33] #314 closed, assigned to nobody

[2020-09-17 11:32] #505 closed, assigned to nobody

[2020-09-17 21:28] guimarc-br opened #529 "[13.0] Only one Manufacture Request being created by the sale."
Hello Guys

On  a Project that I am   working we have the expectation to get  one MR for each  product from the sale/order that does not have the quantity and is Manufacture Request.

**model:** mrp_production_request
**file** : stock_rule.py

I made a debug here and check that is created in the  method

[code]
I could see that is  happening due the **_return_** command,  so when find one product

[2020-09-18 07:06] pedrobaeza commented on #529
Sorry, this is not an Odoo issue, but a question. You should make it on Odoo official forums (https://www.odoo.com/forum/help-1) or mailing lists (https://odoo.com/groups), but not here.

Closing this by the reason above.

Little tip: you must activate MTO route in the product.

[2020-09-18 10:03] #526 closed, assigned to nobody

[2020-09-21 13:27] LoisRForgeFlow commented on #529
@pedrobaeza I think this is actually a bug, I'm reopening the issue.

@guimarc-br Hi, thanks for reporting it. Would you mind opening a Pull Request fixing the issue? Thanks!

[2020-09-22 02:57] guimarc-br commented on #529
Hi Folks

Pull Request created : https://github.com/OCA/manufacture/pull/532

Please take a look.

[2020-10-04 10:32] OCA-git-bot opened #534 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [ ] account_move_line_manufacture_info
- [x] mrp_bom_component_menu - By @florian-dacosta - #752
- [ ] mrp_bom_line_sequence - By @mymage - #828
- [x] mrp_bom_location
- [ ] mrp_bom_note - By @lbelorgey - #926
- [x] mrp_bom_tracking
- [ ] mrp_kit_drop_ship - By @KKamaa - #1281
- [x] mrp_multi_le

[2020-10-07 11:00] Trupti-20WM opened #536 "Quality Control Module"
Hello Team,

I like your quality control module. I am trying to install it in my ERP project, but I can not do it.
I have downloaded your manufacturing project from GitHub and created a zip file for the quality control folder. When I am trying to install it then it's giving me an error as below,
     "The module package seems to have the wrong format.
At least one mandatory directory must exist in

[2020-10-08 03:02] Ryoko04 opened #537 "[12.0] mrp_bom_component_menu: an error occurs when saving"
Impacted versions: 12.0
module: mrp_bom_component_menu

Steps to reproduce:
1.  go to menu "Bill of Material Components"
2. click "CREATE" button on Bill of Material Components tree view
3. enter some data and click "SAVE" button
4. an error message occurs as following.

Screenshot link:
![image](https://user-images.githubusercontent.com/70553601/95541678-e152b780-0a2e-11eb-8a55-2c2b1a2205c0.png)

[2020-10-12 19:48] jpcass opened #542 "[13.0] duplicate Manufaturing Request Error"
When duplicating a manufacturing request the error "Reference must be unique per Company!" appears not allowing to duplicate requests. The addon is mrp_production_request and it is in v13.

[2020-10-29 14:26] LoisRForgeFlow commented on #529
Fixed (https://github.com/OCA/manufacture/pull/549).

[2020-10-29 14:26] #529 closed, assigned to nobody

[2020-11-02 07:51] pedrobaeza opened #550 "mrp_multi_level: Demo data are incorrect"
See the log in:

https://travis-ci.com/github/OCA/manufacture/jobs/423565154#L1925

And this makes the test to fail.

[2020-11-02 10:07] LoisRForgeFlow commented on #550
Closed via https://github.com/OCA/manufacture/pull/551.

[2020-11-02 10:07] #550 closed, assigned to LoisRForgeFlow

[2020-11-03 16:58] bealdav opened #552 "RFC use mrp_production_request to mimic make to order (mto) on MO without split with multiple OF"
Use case:

I have to manufacture product A split in multiple MO to be manufactured in // in multiple workcenters
product A needs product B (defined in BOM) but I only need one MO for product B
B is set as mto

My question is:

Does it make sense to use mrp_production_request for this goal ?
Then merge all mrp request in only one and create MO on the fly.

Might this module land in OCA if I code it

[2020-11-03 17:22] #552 closed, assigned to nobody

[2020-11-04 14:05] bealdav opened #555 "RFC adjust Manuf Order qty according to workcenter capacity using mrp_manufacturing_request"
Use Case: food industry

Considering production a mixture of products in machine, which we can be called a mixer.
You have several mixers with different capacities.
Capacity may vary from a product to another for the same machine : product A 180 kg, product B 75 kg .

According to a selection of machines (workcenters) and the product manufactured I want to define a global quantity in a manufacturi

[2020-11-05 12:44] LoisRForgeFlow commented on #555
Hi @bealdav

We don't currently have a use case for it but I think it is still interesting to have production request capabilities extended with such a feature, you can propose here at OCA as an extension module of mrp_prodcution_request, I will be glad to review it.

[2020-11-05 13:43] bealdav opened #556 "RFC allow to trigger manufacturing orders of components from a mrp_manufacturing_request"
Use case:

You define a manufacturing request. The attached bom implied let see to you need components available to make this production (the actual wizard has this feature).

An additional feature could be from this information, to trigger a MO to cover your need in components, maybe just a click.

In this case you'll get components availability before to create MO defined in manufacturing reques

[2020-11-10 11:26] bealdav commented on #555
Hi @LoisRForgeFlow
before fine tune my module could you have a first look
https://github.com/OCA/manufacture/pull/557

I would like to be sure that it can be generic before to end the PR

I also wait for a better module name ;-)

Thanks

[2020-11-10 15:10] LoisRForgeFlow commented on #556
From my PoV to procure components from a MR feels like reinventing the wheel. I would rather create a MO from a MR for the desired qty (you can tweak how this qty is proposed based on you use case) and then let MRP recalculate your needs for components based on the already existing MO.

This is just my opinion, and without all the insights of your use case. If you think it would be helpful I will

[2020-11-10 15:53] bealdav commented on #556
@LoisRForgeFlow Thanks a lot for your feedback. You're probably right, it's another way to do thing.

[2020-11-12 11:41] bealdav commented on #555
Hi @LoisRForgeFlow possible module names:

- mrp_production_request_qty_by_capacity
- mrp_request_qty
- mrp_request_qty_by_capacity
- ...

My favorite is the last one. I think the first is too long.

Any advice ?

[2020-11-26 08:48] TimLai125 opened #560 "[12.0] mrp_subcontracting: Receipt cannot be validate if MO is processed first"
Steps to reproduce:
1. Create a subcontract BoM with material that is tracked by lot, e.g. Test1 is tracked by lot.
![image](https://user-images.githubusercontent.com/27185427/100327753-a4ef1100-3006-11eb-92e5-9f8d5e69b07a.png)
![image](https://user-images.githubusercontent.com/27185427/100327776-acaeb580-3006-11eb-9a43-05973f52fb47.png)
2. Create a PO with the product and confirm the order.
3. Pr

[2020-11-26 09:56] #560 closed, assigned to nobody

[2020-11-27 14:03] LoisRForgeFlow commented on #534
[As discussed](https://github.com/OCA/manufacture/pull/557#issuecomment-734816633) with @bealdav it would be would to rename mrp_production_request to mrp_resquest in v14.

[2020-11-30 02:58] marcelsavegnago opened #562 "[12.0] quality_control"
Hi,

I am testing the quality control module and I have a small problem.

Create a new test (QA> Tests> Tests)
Enter the name of the test: New test
Select the test type: related

Reference Object is Empty
![image](https://user-images.githubusercontent.com/3595132/100563859-39bf6c00-329e-11eb-9822-7f2b0d21d70c.png)

If you select blank values this error is displayed:
![image](https://user-images.gi

[2020-11-30 16:12] bodedra commented on #562
It seems issue at https://github.com/OCA/manufacture/blob/12.0/quality_control/models/qc_test.py#L26

[2020-12-02 16:51] cramosh opened #564 "[13.0] stock_picking_product_kit_helper: Error when access picking from purchase order"
I install stock_picking_product_kit_helper in Odoo 13 community.

When I create and validate a purchase order and attempt to access the delivery note. A error occurs. stock.picking (25,) Has_product_kit

I tested in ocarunbot and occurs same error.

The error occurs in function  def _compute_has_product_kit(self)

I solved with the next code

    def _compute_has_product_kit(self):
        value =

[2020-12-04 11:00] dreispt opened #565 "[RFC][14.0] 🎪 Manufacturing Cost and Variance Analysis"
Manufacturing operations incur in costs.
We want to be able to track those costs in near real time. This is especially important to manufacturing orders with a long cycle time, spanning for multiple months.

Additionally, manufacturing operation can incur in several cost types. For example, labor, perishable tooling, overhead, etc. This feature allows to generate cost records for all the different

[2020-12-04 11:28] dreispt commented on #565
Cc @Chandresh-SerpentCS

[2020-12-10 10:31] dreispt opened #567 "[RFC][14.0] (D) Manufacturing Operations Estimate and Variances"
# Description

In Job-like scenarios, an initial estimate is prepared and used to quote the customer.
When the order is confirmed, manufacturing can start.
This feature allows to keep  a record of the initial *operations estimates*, that can be later used to analyze variances between the actual vs expected costs.

# Usage

Ensure the Work Centers have configured their Analytic Cost structures.

Wh

[2020-12-10 14:49] dreispt opened #568 "[RFC][14.0] (B) Capture initial estimates and track variances during the manufacturing process"
# Description

In Job-like scenarios, an initial estimate is prepared and used to quote the customer.
When the order is confirmed, manufacturing can start.
This feature allows to keep  a record of the initial material estimates, that can be then used to analyze variances between the actual vs expected costs.

# Usage

Once an MO is confirmed, the initial estimated costs are captured, for quantitie

[2020-12-10 17:47] dreispt opened #569 "[RFC][14.0] (A) Manufacturing Materials Analytic Costs"
# Description

Manufacturing costs are only generated when a Manufacturing Order is closed.

This feature allows to track costs while the manufacturing is in progress.
This is done for raw materials used, by generating Analytic Items when the stock is reserved.

# Usage

To use:

- On the Manufacturing Order, set the Analytic Account to use. This may correspond to a Project.
- On Manufacturing Ord

[2020-12-10 18:33] dreispt opened #570 "[RFC][14.0] (C) Manufacturing Operations Analytic Costs"
# Description

This feature allows to track operations costs while the manufacturing is in progress.
We want to be able to track those costs in near real time. This is especially important to manufacturing orders with a long cycle time, spanning for multiple months.

These manufacturing operations can incur in several cost types.
For example, labor, perishable tooling, overhead, etc.
Cost records

[2020-12-10 18:59] dreispt commented on #565
Note: I'm working on related designs right now, and plan to deprecated this Issue soon, since these features will be fit in a different module organization.
I'll more details soon.

[2020-12-10 20:01] dreispt commented on #565
This design was expanded and superseded by
- (A) #569 Materials - track costs
- (B) #568 Materials - initial estimates and variance analysis
- (C) #570 Operations - track costs
- (D) #567 Operations - initial estimates and variance analysis

These should first be implemented with only the data structures and basic views, and on a second iteration implement the business logic and refined UI.

[2020-12-10 20:42] dreispt commented on #569
mrp_analytic migration has been done: https://github.com/OCA/account-analytic/pull/343

[2020-12-10 20:57] agyamuta commented on #569
@dreispt comment on this design.

  -> We also have to consider though odoo initially picked the inventory based on it's removal strategy. What happens if user
      picked another inventory from the available quant? Should we cancel prior Analytic Entry and create a new one?

[2020-12-10 20:59] dreispt commented on #569
@agyamuta At this point we are want to use whatever is the standard cost for the Product. It would be good to have this logic in its own method, so that other cases can be added later.

[2020-12-15 19:32] Chandresh-SerpentCS commented on #565
@dreispt Please find the linked PR reference against the issues.

(A) #569 > Link with PR #573
(B) #568  > Link with PR #574
(C) #570  > Link with PR #575
(D) #567  > Link with PR #576

[2020-12-28 15:40] bealdav opened #581 "MRP_Subcontracting tests fail in 12.0"
Tests test_flow_3 and test_flow_4 fail

![Selection_139](https://user-images.githubusercontent.com/1853434/103225435-30233580-492a-11eb-8abd-cb45facf6421.png)

Here is the fail
https://travis-ci.com/github/OCA/manufacture/jobs/464656901#L2240

![Selection_140](https://user-images.githubusercontent.com/1853434/103225647-b3dd2200-492a-11eb-935a-389a0db63cd9.png)

Could you help me @Tardo @pedrobaeza

[2020-12-28 16:45] bealdav commented on #581
Thanks a lot Pedro ;-)

[2020-12-28 16:59] pedrobaeza commented on #581
Not so fast. This is still failing. I didn't reproduce it in local, but I guessed that the problem was that one. I have to re-check.

[2020-12-28 17:09] #581 closed, assigned to nobody

[2020-12-28 17:11] pedrobaeza commented on #581
There was other occurrence of the same "test data initialization". Changed as well and now it should be OK.

[2020-12-29 10:08] bealdav commented on #581
Nice Pedro, now branch is fixed could you merge this PR.
https://github.com/OCA/manufacture/pull/558
Many attempts have been done. It should works now.

Thanks

[2021-02-20 05:18] JordiBForgeFlow opened #604 "[RFC][14.0][repair_stock_move] Stock moves in repair orders"
Currently stock moves are only created when the repair order is finalized.
This is a big problem for companies wishing to provision the materials before the work is actually done, because the inventory system does not know that there's any demand for materials when the user adds components to the repair.

This module intends to solve this problem by creating stock moves for every repair.line, and

[2021-02-24 11:08] jado95 opened #606 "12.0 - Error on mrp_subcontracting: receiving product with track set to 'lot' but without track in all component"
In module mrp_subcontracting, when i try to receive product with track set to lot(and all component haven't track) from picking and the product have supplier Subcontracted, i can't validate picking because i receive this error:
 _You need to provide a lot for the finished product._

This error is generated because in this case, i haven't possibility to record production directly from picking.

PR

[2021-03-04 07:11] fgarcia-humanoide opened #617 "base_repair v12 and v13 :duplicated fields in form view"
User and date fields appear twice in the form

[2021-03-04 09:55] bunhin commented on #569
I agree to have other option in manufacturing to consume the raw material while it is not done, considering when the production time is quite long, the need is:

1. there is no staright wip accumulated in an MO  (yes we can manually consume to a location but it is not registered in an MO)
2. The raw material quantity information is not accurate (because the raw material already processed into othe

[2021-03-04 15:26] marcelsavegnago commented on #617
@fgarcia-humanoide Hello. It's not a mistake. The base_repair module is a merger of repair_calendar_view and other improvements. Therefore, it is recommended to uninstall the repair_calendar_view module. Soon I will propose the removal of it.

[2021-03-05 16:47] marcelsavegnago opened #619 "[RFC] Remove repair_calendar_view module from branch 12.0 and 13.0"
Hello,

Recently, a module called base_repair was added to branch 12.0 and 13.0, which aims to be a module to maintain basic and common functionalities for an improvement of the repair module. In this module, the functionality of the repair_calendar_view module was incorporated to avoid conflicts with the types of views available for the repair module.

However, as already imagined, the coexistenc

[2021-03-05 18:24] enriquemartin commented on #534
quality_control_oca #620

[2021-03-13 21:03] alan196 commented on #534
mrp_request  (renamed: mrp_production_request)  https://github.com/OCA/manufacture/pull/625

[2021-03-15 15:10] marcelsavegnago commented on #617
@fgarcia-humanoide in v13 this is really a problem

https://github.com/OCA/manufacture/pull/623

[2021-03-22 14:18] htamouya opened #633 "Quality control configuration"
Hello,

Could you please let me know how to configure a test to be automatically triggered on the quality_control module.

My goal is to be able to configure a quality check step after manufacturing.

Counting on your support

Thanks

[2021-03-22 15:25] pedrobaeza commented on #633
Check quality_control_mrp. For further questions, please go to forums.

[2021-03-22 15:25] #633 closed, assigned to nobody

[2021-03-26 14:40] htamouya commented on #633
Thanks for your feedback, I will check quality_control_mrp.

Regards

[2021-04-07 21:09] marcelsavegnago commented on #619
ping @OCA/manufacturing-maintainers

[2021-04-09 05:21] fshah-initos commented on #534
@OCA/manufacturing-maintainers PR #598 is ready to merge.

[2021-05-04 15:24] vvrossem commented on #310
is `mrp_bom_dismantling` still needed in 12.0 ?

[2021-05-05 12:15] AaronHForgeFlow commented on #564
same error when creating a planned transfer from scratch on runbot:

![image](https://user-images.githubusercontent.com/19620251/117139265-53646280-adac-11eb-95f4-f7a4d36cbd62.png)

[2021-05-24 23:03] marcelsavegnago commented on #604
Hello @JordiBForgeFlow

I have this same demand. Do you already have any code started?

[2021-05-24 23:06] marcelsavegnago commented on #604
Sorry ... I saw now that it was even merged in 14. https://github.com/OCA/manufacture/pull/613

[2021-05-27 15:30] sandertu opened #651 "On sales order when clicking delivery or accessing delivery get error "stock.picking(x,).has_product_kit""
Local server on win 10
odoo 13

Expected: No error.

How to reproduce:

1. Create products
Base
Base_kit
Kit-1
Kit-2
loose

2. Create BOM-s
Base_kit is a kit consisting of Kit-1 and kit-2
base is a normal bom consisting of base_kit and loose
Base is serialized.

3. Manufacture base.

4. Add base to a sales order, confirm order.

5. Click on deliveries.

6. Read "stock.picking(x,).has_product_kit"

[2021-07-03 19:23] Ahmed-Saad225 commented on #569
is there any odoo 13 version??

[2021-07-03 20:15] dreispt commented on #569
@bunhin I feel that this module probably has all you need for that, you just need to setup the proper accounts.

@Ahmed-Saad225 No. And before it is ported, there is a refactor to do: I'm proposing here two separate modules for my use case, and I want to merge them into one, since I found the module split to introduce unneeded complexity.

[2021-08-17 17:15] desdelinux commented on #334
@egonravalah Hello, can you upload your solution to this case?

[2021-08-30 15:40] matteoopenf opened #668 "[12.0] quality_controlo_stock"
When I try to install the module quality_control_stock,

I obtain:
Traceback (most recent call last):
  File "/opt/odoo/odoo/odoo/http.py", line 656, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo/odoo/odoo/http.py", line 314, in _handle_exception
    raise pycompat.reraise(type(exception), exception, sys.exc_info()[2])
  File "/opt/odoo/odo

[2021-08-31 08:09] matteoopenf commented on #668
I understand this app quality_control have the same name in repo EE of Odoo

[2021-08-31 08:40] pedrobaeza commented on #668
Yes, it has been renamed in 13.0, but for v12, both are exclusive. Anyways, your problem is due to the deployment, so closing.

[2021-08-31 08:40] #668 closed, assigned to nobody

[2021-09-08 06:30] yostashiro opened #671 "[Question] mrp_account_analytic and mrp_analytic_cost"
https://github.com/OCA/manufacture/tree/14.0/mrp_account_analytic
https://github.com/OCA/manufacture/tree/14.0/mrp_analytic_cost

@dreispt These two modules look quite similar inside and I'm a bit confused about which one to seriously look at.  Could you please shed some light on how to judge which module to use and why the functions are duplicated?  I apologise for the noise if it's already been

[2021-09-08 09:19] dreispt commented on #671
Hello, `mrp_analytic_cost` is to be discontinued, and most of the code moved to `mrp_account_analytic`.
See notes here: https://github.com/OCA/manufacture/pull/664#issuecomment-906551659

I had the idea the code had been removed and a deprecation notice added to the README, but I see it is not the case.
I should fix that.

[2021-09-22 18:40] frnodb opened #677 "[13] Auto Post inventory"
I have deleted api.multi from mrp_product_produce.py and mrp_production.py to be able to install module in community version 13, but although I enable in setting, isn't posting inventory.

[2021-09-22 19:16] pedrobaeza commented on #677
If the module is not migrated, that's normal, as there can be more changes to be done. Ask in forums further questions about this.

[2021-09-22 19:16] #677 closed, assigned to nobody

[2021-09-23 08:02] alodoanhnhan opened #678 "[14.0][FIX] mrp_account_analytic: Raise exception when clicking on unblock"
In MO, when I click the block button in work orders, then click unblock again, the system raises an exception that doesn't allow me to unblock. I checked the code, and see the timing method in work orders is based on the model mrp.workcenter.productivity and not directly on the model mrp.production.

Therefore, it throws an exception because when using the block button(or unblock button) the syste

[2021-10-15 16:13] hrahuu opened #689 "Migration to version 15.0"
Is there any estimation when these manufacture modules could be migrated to the freshly released 15 version?
Especially interested in mrp_sale_info.

[2021-10-15 16:52] pedrobaeza commented on #689
New branches will be available soon for people to perform migrations. Stay tuned.

[2021-10-15 16:52] #689 closed, assigned to nobody

[2021-10-17 10:19] OCA-git-bot opened #691 "Migration to version 15.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

Repair related modules should be moved to the new repository https://github.com/OCA/repair.

# Modules to migrate

- [x] account_move_line_mrp_info - By @JasminSForgeFlow - #1232
- [ ] base_repair (to be moved to OCA/repair)
- [x] mrp_account_analytic - By @bizzappdev - #925
- [ ] mrp_analytic_cost
- [x] mrp_bom_attrib

[2021-10-20 11:46] BernatPForgeFlow opened #694 "[14.0][MIG] quality_control_oca: causing runbot to fail"
I need to migrate **mrp_progress_button** but I find Runbot error related with **quality_control_oca** module:

https://github.com/OCA/manufacture/blob/14.0/quality_control_oca/models/qc_trigger_line.py#L30

@enriquemartin Could you please check the error?

[2021-10-20 11:52] AaronHForgeFlow commented on #694
I am trying to fix this issue here: https://github.com/OCA/manufacture/pull/695

[2021-11-11 15:43] AaronHForgeFlow commented on #694
The fix is merged so this can be closed

[2021-11-11 15:48] #694 closed, assigned to nobody

[2021-11-11 16:30] #234 closed, assigned to nobody

[2021-11-11 16:30] #233 closed, assigned to nobody

[2021-11-17 14:24] #268 closed, assigned to max3903

[2021-11-22 08:41] #124 closed, assigned to nobody

[2021-11-22 08:41] #136 closed, assigned to nobody

[2021-11-22 08:42] #41 closed, assigned to nobody

[2021-11-22 08:45] #604 closed, assigned to MateuGForgeFlow

[2021-11-24 14:43] #394 closed, assigned to nobody

[2021-11-28 12:33] #24 closed, assigned to nobody

[2021-11-28 12:33] #90 closed, assigned to nobody

[2021-11-28 12:33] #145 closed, assigned to nobody

[2021-11-28 12:33] #146 closed, assigned to nobody

[2021-11-28 12:33] #157 closed, assigned to nobody

[2021-12-05 12:34] #196 closed, assigned to nobody

[2021-12-05 12:34] #200 closed, assigned to nobody

[2021-12-05 12:34] #226 closed, assigned to nobody

[2021-12-05 12:34] #230 closed, assigned to nobody

[2021-12-10 18:25] JordiBForgeFlow opened #720 "[RFC] mrp_routing_workcenter_template: Manage generic operations in manufacturing"
Since 14.0 the "mrp.routing" model has been deprecated in favor of introducing BOM specific "mrp.routing.workcenter".

However there are still companies that want to be able to define generic operations that are valid across multiple BOM's to ease the maintenance.

The module "mrp_routing" would introduce the following models:

"mrp.routing.workcenter.template": It defines the same attributes as "

[2021-12-19 12:35] #253 closed, assigned to nobody

[2021-12-22 08:58] valentinthirion commented on #691
Dear,
Can anyone tell me why there does'nt seem to be a plan to migrate "mrp_production_grouped_by_product" ?
Is it non necessary in 15.0?
Thanks in advance,
Best

[2021-12-26 12:35] #275 closed, assigned to max3903

[2022-01-01 12:15] pumppi opened #729 "mrp_subcontracting_purchase version 14"
**Is your feature request related to a problem?**
Our problem is that we don't want to make mrp.production order when doing subcontracting. It makes simple process too complicated or we haven't figured out what are the benfits.

Our goal is to generate Purchase order to subcontractor and deliver parts for the subcontractor. So linking the WH/OUT movements to PO.

**Describe the solution you'd like

[2022-01-02 12:36] #276 closed, assigned to max3903

[2022-01-09 12:36] #295 closed, assigned to nobody

[2022-01-09 12:36] #306 closed, assigned to nobody

[2022-01-16 12:36] #310 closed, assigned to nobody

[2022-01-16 12:36] #312 closed, assigned to LoisRForgeFlow

[2022-01-16 12:36] #313 closed, assigned to nobody

[2022-01-16 12:36] #317 closed, assigned to nobody

[2022-01-16 12:36] #332 closed, assigned to nobody

[2022-01-19 09:05] cubells opened #736 "[13.0] mrp_production_request: module is not compatible with mrp_sale_info"
When `mrp_sale_info` is installed, an error is raise due to this field:

https://github.com/OCA/manufacture/blob/13.0/mrp_sale_info/models/mrp_production.py#L12

Log:

`ValueError: Invalid field 'source_procurement_group_id' on model 'mrp.production.request'`

Both modules are not compatible.

[2022-01-23 12:55] #425 closed, assigned to nobody

[2022-01-30 12:32] #366 closed, assigned to nobody

[2022-02-07 08:14] Daniel-CA commented on #534
quality_control_mrp_oca  #737

[2022-02-08 10:07] mattmutex opened #746 "[14] mrp_bom_tracking model product.uom doesn't exist any more"
in mrp.bom.py line 72 model used doesn't exist any longer in Odoo

` product_uom_id = self.env["product.uom"].browse(product_uom_id)`

needs to be replace by

` product_uom_id = self.env["uom.uom"].browse(product_uom_id)`

probably same issue in V15 module

[2022-02-20 12:33] #396 closed, assigned to nobody

[2022-02-21 14:38] murande opened #760 "mrp_sale_info Issue"
module: mrp_sale_info
version: 13.0

**Steps to reproduce**
- ...
![Screenshot from 2022-02-21 16-35-18](https://user-images.githubusercontent.com/43172894/154976053-1627fd99-9ece-4d41-90ff-16ca8de9fd9c.png)

[2022-02-27 12:33] #405 closed, assigned to nobody

[2022-02-27 12:33] #408 closed, assigned to nobody

[2022-03-06 12:34] #451 closed, assigned to nobody

[2022-03-10 16:49] aduijs commented on #760
this is also the case in version 14.0
i think it has to do with the fact you need to add the reordering rule of the product.
it looks like the "reordering rule" is creating the work order, instead of the Sales Order (so no sales order specific info like SO, Cust etc is passed with it)

[2022-03-10 21:51] aduijs commented on #760
i was able to "fix" it with the help of Lucas on the odoo forum. (so actually it isnt broken)
the reason why it stays empty is because the MOs are generated by the replenish (reordering rules) and not from the SO directly.
here is the link to the forum.
https://www.odoo.com/nl_NL/forum/help-1/odoo14-15ce-sales-to-mrp-difference-in-comparison-with-older-versions-200683

here is a copy of the text:

[2022-03-20 12:35] #503 closed, assigned to nobody

[2022-03-20 12:35] #504 closed, assigned to nobody

[2022-03-21 15:28] ypapouin commented on #516
For the record, a wrote a module to customize the procurement group that also fixes this issue as a side effect:
https://github.com/decgroupe/odoo-addons-dec/tree/12.0/mrp_production_request_procurement

[2022-03-27 12:35] #334 closed, assigned to nobody

[2022-04-03 13:05] #555 closed, assigned to nobody

[2022-04-10 12:36] #511 closed, assigned to nobody

[2022-04-10 12:55] #556 closed, assigned to nobody

[2022-04-17 12:37] #517 closed, assigned to nobody

[2022-04-17 14:12] rvalyi commented on #565
@dreispt  from what I checked, A, B, C and D are all implemented and merged. Can we close it then?

cc @renatonlima probably what we should use when we migrate from 12.0

[2022-04-18 10:00] dreispt commented on #565
@rvalyi Yes, they should be.

[2022-04-18 10:00] #565 closed, assigned to nobody

[2022-04-22 11:09] Steff-mwl commented on #604
Hi @JordiBForgeFlow
This module is really an improvement to the repair module. A little frustration is that is doesn't create procurement and so doesn't trigger procurement rules either, especially regarding the parts.

In my use case, the technician cannot enter into the stock so he needs a picking order which the stock manager will process. Best is to define a dedicated location for the repair w

[2022-04-22 15:41] marcelsavegnago commented on #604
@Steff-mwl Yes, a picking would do well.

[2022-04-24 12:38] #536 closed, assigned to nobody

[2022-04-24 12:38] #537 closed, assigned to nobody

[2022-05-01 12:39] #542 closed, assigned to nobody

[2022-05-09 14:46] BlommaertsEdwin commented on #691
Migrated mrp_sale_info module to V15.0 in: https://github.com/OCA/manufacture/pull/795

[2022-05-15 12:47] #562 closed, assigned to nobody

[2022-05-15 15:00] #619 closed, assigned to nobody

[2022-05-22 12:40] #564 closed, assigned to nobody

[2022-05-29 12:41] #567 closed, assigned to nobody

[2022-05-29 12:41] #568 closed, assigned to nobody

[2022-05-31 13:10] karsanpav opened #803 "Production Grouped By Product continue grouping after confirming the MO"
## Module
Production Grouped By Product

## Describe the bug
The module continue grouping MO until is done, this affects in physic planning because if the MO operator pick the components for the MO will see that the MO needs more components, there should be a state in the MO where the module will stop grouping and create a new MO.

## To Reproduce
**Affected versions**: v14

Steps to reproduce the

[2022-06-05 12:37] #569 closed, assigned to nobody

[2022-06-05 12:37] #570 closed, assigned to nobody

[2022-06-12 12:37] #606 closed, assigned to nobody

[2022-06-16 02:24] yaodongshi opened #808 "BOM detail modification unit of measure error due to MRP BoM Tracking"
There is no problem in the BOM detail list in the newly added scenario. When the saving is successful, re-editing and modifying the detail list material unit of measure will cause an error.

RPC_ERROR
Odoo Server Error
Traceback (most recent call last):
  File "/Users/yaodongshi/Documents/develop/odoo/odoo15/odoo/addons/base/models/ir_http.py", line 237, in _dispatch
    result = request.dispatch(

[2022-06-19 12:38] #617 closed, assigned to nobody

[2022-07-08 17:17] oyale opened #823 "[14] Quality Control OCA - Exception when creating a related test"
## Module
`quality_control_oca`

## Describe the bug
Can't create a related test. The dropdown with the models and objects is not fullfilled.

## To Reproduce
**14**:

Steps to reproduce the behavior:
1. Install `quality_control_oca`
2. Create a new test and change the type from _Generic_ to _Related_
3. Use the dropdown to select a Reference Object
4. Despite all fields are empty, select, i.e., t

[2022-07-24 11:57] mymage commented on #534
mrp_bom_line_sequence #828

[2022-07-24 12:42] #651 closed, assigned to nobody

[2022-07-24 18:46] lalamax3d opened #829 "MRP Production Request Issue : only creating request for first item in Sale Order (first sale order line)"
using odoo 13, have identical product setup.
each product(item) has MTO / manufacture / MRP request (turned on) in inventory.

## Module
MRP Production Request

## Describe the bug
Confirming of Sales Order only create MRP request for first item in sales order line.

## To Reproduce
**Affected version: 13**:

Steps to reproduce the behavior:
1. add two items (each has MTO/manufacture/ manufacture

[2022-08-07 12:40] #671 closed, assigned to nobody

[2022-08-21 12:41] #678 closed, assigned to nobody

[2022-09-07 13:17] pedroortega-punt commented on #691
@valentinthirion La semana que viene hacemos el pull request, ya lo tenemos preparado.

@pedrobaeza Como hacemos para asignarnos la migración de ese módulo?

[2022-09-07 17:14] pedrobaeza commented on #691
When the pull request is done, there's a command for including it here

[2022-09-08 08:17] diggy128 opened #845 "[BUG] quality_control: Quality manager cannot delete auto generated inspections"
Quality manager cannot delete auto generated inspections

## Module

- quality_control
- quality_control_oca for Odoo => 13

## Describe the bug
A quality manager cannot delete inspections that were auto-generated by the system

## To Reproduce
**Affected versions**: 12.0, 13.0, 14.0, 15.0

Steps to reproduce the behavior:
1. Create any document that auto generates an inspection
2. Cancel / delete

[2022-09-08 08:24] pedrobaeza commented on #845
What is the message/error?

[2022-09-08 09:16] diggy128 commented on #845
The error comes from the overrided unlink function in qc_inspection.py

[code]

[2022-09-08 09:24] pedrobaeza commented on #845
That was put on purpose. What are the reasons to remove an auto-generated inspection?

[2022-09-08 09:37] diggy128 commented on #845
When deleting the object that created the inspection, that inspection cannot be deleted!

Eg. Would it make sense to NOT be able to delete an invoice (draft) that was generated from a sales order if that order is cancelled?

[2022-09-08 09:39] pedrobaeza commented on #845
Is there a cascade unlinking? I don't think so. Anyways, then the possible path is:

- Add a mitigation of the constraint by context.
- Add such context on the unlinking of the object
- OR empty the references, but keep the inspection.

[2022-09-09 06:35] diggy128 commented on #845
That could work but it would mean we would have to take care to pass the necessary context from every object that is referenced in qc.inspection and is likely to be deleted!

If the inspection is not done (aka success or failed) if doesn't make sense to keep the inspection since they will be cancelled inspections that were auto generated but no reference to the object that generated them.

To put

[2022-09-09 06:37] pedrobaeza commented on #845
Yes, that's the idea. Or overwrite `base` module and do a generic method for this.

[2022-09-09 11:46] diggy128 commented on #845
Overriding `base` to override a behavior that is enforced only in ONE model seems overkill.

What about point 2 above?

In any case, I'll put together a PR and continue there.

Thanks for the response!

[2022-09-09 13:57] pedrobaeza commented on #845
Well, adding such magic code that bypass the restriction for superuser is not usually the best idea. Let's see what others think.

[2022-09-11 12:47] #720 closed, assigned to nobody

[2022-09-16 21:56] ivancandelas commented on #691
I'm planning to migrate the module mrp_tag but is not added to the list, could we add it?

[2022-09-18 12:48] #729 closed, assigned to nobody

[2022-09-25 12:48] #736 closed, assigned to nobody

[2022-09-27 19:18] samuelosram opened #859 "fixed batch size for work orders"
Our workorders have all fixed number of item. e.g. our punch produces exactly 50 pieces. So when a order/rule needs 60 pieces (eg) we have to produce 100 (or even 150 ... 200 ... 250 ... )

Makes a mrp-module sence that is constraint to a fixed batch size (eg. the number of items of the bom) or a multiple number of this?

Or is a other workflow more useful?

[2022-09-27 19:46] diggy128 commented on #859
You could achieve what you want by putting the production multiple (on your case 50) in a stock reordering rule for that part.

When the procurement cron action runs the stock rule will generate a production order to meet your demand at the closest multiple that meets the demand.

Eg you have 5 parts at hand and a production order requires 20.
When the cron runs it will create a production order f

[2022-09-30 14:07] samuelosram commented on #859
Yes thats possible. but i think the wrong position. this works only when the workorder initiated with reorder rule.

[2022-09-30 19:31] diggy128 commented on #859
That's true, so I assume you create your manufacturing order as parts are needed, correct?

Even if so, taming the power of stock reordering rules will help you further down the road as you implement and use odoo more.

You could set a rule and create an automated action that once a production order is created, it corrects the qty to be produced by the rule multiple. If you at some point choose to

[2022-10-01 13:09] samuelosram commented on #859
thx @diggy128

I think about exclusivly use of reorder rules is a good idea regarding workflow of odoo.

[2022-10-02 12:51] #746 closed, assigned to nobody

[2022-10-03 16:25] sbidoul opened #868 "Migration to version 16.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-16.0

# Modules to migrate

- [x] mrp_account_analytic - By @dreispt - #1087
- [x] mrp_attachment_mgmt - By @jdidderen-noviat - #1115
- [ ] mrp_bom_attribute_match - By @mymage - #933
- [x] mrp_bom_component_menu - By @florian-dacosta - #915
- [ ] mrp_bom_hierarchy
- [x] mrp_bom_location - By @mymage - #936
- [ ] mrp_bom_tra

[2022-10-16 12:53] #760 closed, assigned to nobody

[2022-10-30 12:48] #516 closed, assigned to nobody

[2022-11-06 22:36] mymage commented on #310
quality control plan #1089

[2022-11-10 19:22] mymage commented on #408
I migrate
- quality_control_plan #1070

[2022-11-14 15:43] FranciscoBigWings opened #899 "mrp_production_serial_matrix possible improvements"
This is a great module that helps a lot in the production in V14 of manufacture orders that are tracked by unique serial numbers that use components tracked by lot numbers; I've got some ideas that would help in this kind of enviroments.

Ideas:
- Possibility of auto fill of component_lot_id depending on the component_id; stock_move_line_auto_fill is the idea
- Possilibity to assign the same compo